-
    const dataProgram = [
        {
            code: '07.03.01',
            program: 'Architecture',
            profile: [
                {
                    profile_title: 'Architectural Design',
                    department: 'Architecture and Building Construction',
                    tuition_fee: '117000',
                    form_of_training: 'Full-time',
                    period: '4 years',
                    curriculum_link: 'https://tstu.ru/svedenPDF/pdf20/bak/up/up_07.03.01.01_2021_of.pdf',
                }
            ]
        },
                {
            code: '07.03.04',
            program: 'Urban Planning',
            profile: [
                {
                    profile_title: 'Architectural Design',
                    department: 'Architecture and Building Construction',
                    form_of_training: 'Full-time',
                    curriculum_link: 'https://tstu.ru/svedenPDF/pdf20/bak/up/up_07.03.01.01_2021_of.pdf	'
                }
            ]
        },
        {
            code: '08.03.01',
            program: 'Construction',
            profile: [
                {
                    profile_title: 'Industrial and Civil Engineering',
                    department: 'Structure of Buildings and Constructions',
                    form_of_training: 'Full-time',
                    curriculum_link: 'https://tstu.ru/svedenPDF/pdf20/bak/up/up_08.03.01.01_2021_of.pdf',
                }
            ],
            profile: [
                {
                    profile_title: 'Highways' ,
                    department: 'Urban Planning and Roads',
                    form_of_training: 'Full-time',
                    curriculum_link: 'https://tstu.ru/svedenPDF/pdf20/bak/up/up_08.03.01.03_2021_of.pdf',
                }
            ]
        },
        {
            code: '23.03.01',
            program: 'Technology of Transport Processes',
            profile: [
                {
                    profile_title: 'Road Safety',
                    department: 'Equipment and Technology of Road Transport',
                    form_of_training: 'Full-time',
                    curriculum_link: 'https://tstu.ru/svedenPDF/pdf20/bak/up/up_23.03.01.01_2021_of.pdf',
                }
            ]
        },
        {
            code: '23.03.03',
            program: 'Operation of Transport and Technological Machines and Complexes',
            profile: [
                {
                    profile_title: 'Automobiles and Automotive Industry',
                    department: 'Equipment and Technology of Road Transport',
                    form_of_training: 'Full-time',
                    curriculum_link: 'https://tstu.ru/svedenPDF/pdf20/bak/up/up_27.03.03.01_2017_zf.pdf',
                }
            ]
        },
                {
            code: '35.03.06',
            program: 'Agro-engineering',
            profile: [
                {
                    profile_title: 'Technical Service in Agro-Industrial Complex' ,
                    department: 'Agricultural Engineering',
                    form_of_training: 'Full-time',
                    curriculum_link: 'https://tstu.ru/svedenPDF/pdf20/bak/up/up_35.03.06.01_2021_of.pdf	 ',
                }
            ]
        },
                {
            code: '43.03.01',
            program: 'Service',
            profile: [
                {
                    profile_title: 'Technologies for  logistics and transport services organization' ,
                    department: 'Equipment and Technology of Road Transport',
                    form_of_training: 'Full-time',
                    curriculum_link: '-',
                }
            ]
        },
                {
            code: '54.03.01',
            program: 'Design',
            profile: [
                {
                    profile_title: 'Design' ,
                    department: 'Equipment and Technology of Road Transport',
                    form_of_training: 'Full-time',
                    curriculum_link: '-	',
                }
            ]
        },

    ]

-   let classProgram = 'program'
+program(dataProgram, classProgram)