.program-details {
    position: relative;
    border-top: 1px solid $color_primary;
    &:first-child {
        border-top: none;
    }
    &__summary {
        display: flex;
        font-weight: bold;
        color: #2749a1;
        // border-top: 1px solid $color_primary;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    &__summary:hover {
        color: $color_accent;
    }
    &__code {
        width: 5rem;
        padding-left: 1rem;
    }
    &__title {
        width: 15rem;
        padding-left: 1rem;
    }
    &__forms {
        display: inline-block;
        margin-left: auto;
    }
    &__forms-and-fee{
        display: flex;
        flex-direction: column;
    }
    &__form{
        font-size: x-small;
    }

    // &__table {
    //     width: 100%;
    //     padding-left: 1rem;
    //     padding-top: 1rem;
    //     background-color: $color_light;
    //     margin-bottom: 2rem;
    // }
    // &__thead {
    //     color: $color-default;
    //     padding: 1rem 0;
    //     text-align: left;
    //     border-bottom: 2px solid $color_primary;
    // }
    // tbody {
    //     color: $color-default;
    //     background-color: $color_light;
    // }
    // tr {
    //     padding-top: 1rem;
    //     border-bottom: 1px solid $color_primary;
    // }
    // td {
    //     margin-right: 1rem;
    // }
}