mixin lang()
    <!-- begin lang -->
    .lang
        a.lang__link(href="") RUS
        a.lang__link(href="") ENG
        a.lang__link(href="") FRA
        a.lang__link(href="") العربية

    <!-- end lang -->