mixin lang-toggle()
    <!-- begin lang--toggle -->
        .lang-toggle
            ul.lang-toggle__list
                li.lang-toggle__item
                    a.lang-toggle__link(href="") ENG
                ul.lang-toggle__dropdown-list
                    li.lang-toggle__item
                        a.lang-toggle__link(href="https://www.tstu.ru/") RUS
                    li.lang-toggle__item
                        a.lang-toggle__link(href="https://www.tstu.ru/fr/") FRA
                    li.lang-toggle__item
                        a.lang-toggle__link(href="https://www.tstu.ru/arabic/") العربية
    <!-- end lang--toggle -->