mixin lang()
    <!-- begin lang -->
    .lang
        a.lang__link(href="https://www.tstu.ru/") RUS
        a.lang__link(href="") ENG
        a.lang__link(href="https://www.tstu.ru/fr/") FRA
        a.lang__link(href="https://www.tstu.ru/arabic/") العربية

    <!-- end lang -->