mixin lang-toggle()
    <!-- begin lang--toggle -->
    .lang-toggle
        a.lang-toggle__link(href="") RUS
        .lang-toggle--inner
            a.lang-toogle__link(href="") ENG
            a.lang-toogle__link(href="") FRA
            a.lang-toogle__link(href="") العربية
        a.menu-toggle__open(href='')
            i.icon-arrow.icon-arrow--down.icon-arrow--blue
    <!-- end lang--toggle -->