.section {
    padding: 3rem 1rem;
    @media screen and (min-width: $tablet-sm) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    @media screen and (min-width: $desktop-sm) {
        padding: 0;
    }
    &__description {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-align: left;
        @media screen and (min-width: $tablet) {
            flex-direction: row;
        }
    }
    &__title {
        font-family: $font-heading-1;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    &__img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        @media screen and (min-width: $tablet) {
            padding-bottom: 1rem;
        }
        @media screen and (min-width: $desktop-xl) {
            max-width: 70%;
        }
    }
    &__img-container {
        height: 350px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    &__img1 {
        max-width: 100%;
        position: relative;
        top: -70px;
    }
    &__text {
        padding-bottom: 1rem;
        @media screen and (min-width: $desktop-sm) {
            padding-bottom: 2rem;
            font-size: 18px;
        }
        @media screen and (min-width: $desktop-lg) {
            padding-bottom: 2rem;
            font-size: 18px;
        }
        @media screen and (min-width: $desktop-xl) {
            padding-bottom: 2.5rem;
            font-size: 18px;
        }
    }
    &__text--bold {
        font-weight: $font-weight-bold;
        display: block;
        @media screen and (min-width: $desktop-sm) {
            padding-bottom: 0.5rem;
        }
    }
    &__list {
        list-style-type: square;
        padding-bottom: 1rem;
    }
}