-
    const dataMenu = [
        {
            url: 'https://www.tstu.ru/en/r.php?r=info.about',
            title: 'University',
            submenu: [
                { title: 'Rector', url: 'https://www.tstu.ru/en/r.php?r=info.welcom' },
                { title: 'Mission & Vision', url: 'https://www.tstu.ru/en/r.php?r=info.mission' },
                { title: 'Video about TSTU', url: 'https://www.tstu.ru/en/r.php?r=info.video' },
                { title: 'Rankings', url: 'https://www.tstu.ru/en/r.php?r=ratings.ratings' }
            ],
        },
        {
            url: 'https://www.tstu.ru/en/r.php?r=education.activ',
            title: 'Education',
            submenu: [
                { title: 'Institutes and Faculties', url: 'institutes-and-faculties.html' },
                { title: 'Departments', url: 'https://www.tstu.ru/en/r.php?r=education.kafedra' },
                { title: 'Electronic library system of TSTU', url: 'https://www.tstu.ru/en/r.php?r=education.elib' }
            ],
        },
        {
            url: 'https://www.tstu.ru/en/r.php?r=science.ra',
            title: 'Research & Innovations',
            submenu: [
                { title: 'Scientific Articles', url: 'https://www.tstu.ru/en/r.php?r=science.st' },
                { title: 'Scientific Journals', url: 'https://www.tstu.ru/en/r.php?r=science.jour' },
            ],
        },
        {
            url: 'https://www.tstu.ru/en/r.php?r=ratings.ratings',
            title: 'Rankings',
            submenu: [],
        },
        {
            url: 'https://www.tstu.ru/en/r.php?r=intern.coop',
            title: 'International',
            submenu: [
                { title: 'For Foreign Students', url: 'https://www.tstu.ru/en/r.php?r=education.inst&id=18' },
                { title: 'Joint Projects', url: 'https://www.tstu.ru/en/r.php?r=intern.proj' },
                { title: 'I-Pet Programme', url: 'https://www.tstu.ru/en/r.php?r=intern.ipet' },
                { title: 'Diploma Supplement', url: 'https://www.tstu.ru/en/r.php?r=intern.dipl' },
                { title: 'International Rankings', url: 'https://www.tstu.ru/en/r.php?r=ratings.ratings' },
                { title: 'International Partnership', url: 'https://www.tstu.ru/en/r.php?r=intern.part' },
            ],
        },
        {
            url: 'https://www.tstu.ru/en/r.php?r=career.partner',
            title: 'Career & Job',
            submenu: [
                { title: 'Employer Partnership', url: 'https://www.tstu.ru/en/r.php?r=career.partner' },
            ],
        },
        {
            url: 'https://www.tstu.ru/en/r.php?r=stud.life',
            title: 'Students life',
            submenu: []
        }

    ]

-   let classMenu = 'menu'
+menu(dataMenu, classMenu)