-
    const dataMenu = [
        {
            url: 'programmes.html',
            title: 'University',
            submenu: [],
        },
        {
            url: 'education.html',
            title: 'Education',
            submenu: [],
        },
        {
            url: 'research_and_innovation.html',
            title: 'Research & Innovations',
            submenu: [],
        },
        {
            url: 'research_and_innovation.html',
            title: 'International',
            submenu: [],
        },
        {
            url: 'career-and-job.html',
            title: 'Career & Job',
            submenu: [],
        },
        {
            url: 'students-life.html',
            title: 'Students life',
            submenu: []
        }

    ]

-   let classMenu = 'menu'
+menu(dataMenu, classMenu)