-
    const dataMenu = [
        {
            url: 'programmes.html',
            title: 'All Programmes',
            submenu: [],
        },
        {
            url: 'admission.html',
            title: 'Admission',
            submenu: [],
        },
        {
            url: 'education.html',
            title: 'Education',
            submenu: [],
        },
        {
            url: 'research_and_innovation.html',
            title: 'Research & Innovation',
            submenu: [],
        },
        {
            url: 'partnership.html',
            title: 'Partnership',
            submenu: [],
        },
        {
            url: 'career-and-job.html',
            title: 'Career & Job',
            submenu: [],
        },
        {
            url: 'alumni.html',
            title: 'Alumni',
            submenu: [],
        }

    ]

-   let classMenu = 'menu'
+nav(dataMenu, classMenu)