-
    const dataMenu2 = [
        {
            url: '#',
            title: 'Bachelor',
            submenu: [],
        },
        {
            url: '#',
            title: 'Master',
            submenu: [],
        },
        {
            url: '#',
            title: 'Specialist',
            submenu: [],
        },
        {
            url: '#',
            title: 'PhD',
            submenu: [],
        }

    ]

-   let classMenu2 = 'menu2'
+menu2(dataMenu2, classMenu2)