mixin menu-toggle()
    label(for='toggle')
    // begin menu-toggle
    .menu-toggle
        // begin line
        .container__line
            .line.line__first
            .line.line__middle
            .line.line__last
        // end line
    // end menu-toggle