mixin menu-main()
    <!-- begin menu-main -->
    .menu-main
        a.menu-main__link.menu-main__link--accent(href="") All programmes
        a.menu-main__link(href="") Admission
        a.menu-main__link(href="") Students
        a.menu-main__link(href="") Research
        a.menu-main__link(href="") Partnership
    <!-- end menu-main -->
    Science &amp; Research