#toggle {
    display: none;
}

#toggle:checked {
    display: block;
}

.menu-toggle {
    position: static;
    top: 0;
    right: 0;
    display: flex;
    width: 78px;
    height: 80px;
    background: #F36F31;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $tablet) {
        font-weight: $font-weight-bold;
        font-size: 40px;
        text-transform: uppercase;
        height: 5.2rem;
    }
    &__list {
        list-style: none;
    }
}

.line {
    height: .2rem;
    width: 32px;
    background-color: #fff;
    margin-bottom: .4rem;
    &__first,
    &__last {
        width: 1.8rem;
        transform: width .3s;
        transition: all .4s;
    }
}

.menu-toggle:hover .line {
    width: 2.3rem;
}

#toggle:checked+.menu-main {
    display: block;
}