mixin menu-toggle()
    <!-- begin menu-toggle -->
        if pageClass == 'sitemap-page'
            .menu-toggle.menu-toggle--close
        else
            .menu-toggle.menu-toggle--front
        
    <!-- end menu-toggle -->