<!-- begin filters -->
//- p FILTERS
.filters
    //- class for ul or ol list
    -
        let list = {
            class: 'filters__list',
        }
    //- atributes for li and a elements of the list
    -
        let listElements = [
            {
                itemClass: 'filters__item',
                itemActive:'filters__item--active',
                linkClass: 'filters__link',
                linkUrl: 'mission-and-vision.html',
                linkText: 'Vision'
            },
            {
                itemClass: 'filters__item',
                itemActive:'filters__item--active',
                linkClass: 'filters__link',
                linkUrl: 'history.html',
                linkText: 'History'
            },
        ]
    +list(list, el)
<!-- end filters -->