<!-- begin filters -->
//- p FILTERS
.filters
    //- name of ul or ol list to use with BEM naming
    -   let listName = 'filters';
    //- name of an active state of an item in the list
    -   let active = listName+'__item--active';
    //- atributes for link elements of the list
    -
        let listElements = [
            {
                url: 'mission-and-vision.html',
                text: 'Vision'
            },
            {
                url: 'history.html',
                text: 'History'
            },
        ]
    +list(listName, el, active)
<!-- end filters -->