-   let classProject = 'project'
-   let field_title = 'Project Title:'
-   let field_acronym = 'Acronym:'
-   let field_reference_no = 'Reference No.:'
-   let field_duration = 'Duration:'
-   let field_programme = 'Programme:'
-   let field_coordinator = 'Coordinator:'
-   let field_web_url = 'Project Web-site:'
-
    let dataProject = [
        {
            img_url: '../../assets/images/logo/joint-projects/enter.png',
            title: 'Engineering Educators Pedagogical Training - ENTER',
            acronym: 'ENTER',
            reference_no: '598506-EPP-1-2018-1-PT-EPPKA2-CBHE-JP',
            duration: '2018 — 2022',
            programme: 'Erasmus+',
            coordinator: 'University of Porto (Portugal)',
            web_url: ' http://www.erasmus-enter.org',
        },
        {
            img_url: '../../assets/images/logo/joint-projects/marueeb.jpg',
            title: 'Master Degree in Innovative Technologies in Energy Efficient Buildings for Russian & Armenian Universities and Stakeholders',
            acronym: 'MARUEEB',
            reference_no: '561890-EPP-1-2015-1-IT-EPPKA2-CBHE-JP',
            duration: '2015 — 2018',
            programme: 'Erasmus+',
            coordinator: 'University of Genoa (Italy)',
            web_url: ' http://marueeb2016.ru/en',
        },
        {
            img_url: '../../assets/images/logo/joint-projects/valeru.jpg',
            title: 'Validation of Non-Formal/Informal Learning in Russian Higher Education',
            acronym: 'VALERU',
            reference_no: '544405-TEMPUS-1-2013-1-AT-TEMPUS-SMGR',
            duration: '2013 — 2016',
            programme: 'TEMPUS',
            coordinator: 'Danube University Krems (Austria)',
            web_url: ' http://www.valeru.eu',
        },
        {
            img_url: '../../assets/images/logo/joint-projects/equasp.png',
            title: 'On-line Quality Assurance of Study Programmes',
            acronym: 'EQUASP',
            reference_no: '543727-TEMPUS-1-2013-1-IT-TEMPUS-SMGR',
            duration: '2013 — 2016',
            programme: 'TEMPUS',
            coordinator: 'University of Genoa (Italy)',
            web_url: ' http://equasp.tstu.ru',
        },
        {
            img_url: '../../assets/images/logo/joint-projects/green-master.png',
            title: 'LLL Training and Master in Innovative Technologies for Energy Saving and Environmental Control for Russian Universities, Involving Stakeholders',
            acronym: 'GREEN MASTER',
            reference_no: '530620-TEMPUS-1-2012-1-IT-TEMPUS-JPCR',
            duration: '2012 — 2015',
            programme: 'TEMPUS',
            coordinator: 'University of Genoa (Italy)',
            web_url: ' http://greenma.tstu.ru',
        },
        {
            img_url: '../../assets/images/logo/joint-projects/netwater.png',
            title: 'Network for Master Training in Technologies of Water Resources Management',
            acronym: 'NETWATER',
            reference_no: '159311–TEMPUS–1–2009–1–IT–TEMPUS–JPCR',
            duration: '2010 — 2013',
            programme: 'TEMPUS',
            web_url: ' http://netwater.tstu.ru',
        },
        {
            img_url: '../../assets/images/logo/joint-projects/equasp.png',
            title: 'On-line Quality Assurance of Study Programmes',
            duration: '2013 — 2016',
            programme: 'TEMPUS',
            coordinator: 'University of Genoa (Italy)',
            web_url: ' http://equasp.tstu.ru/',
        },

    ]
+project(dataProject, classProject)
.clearfix
