mixin about (blocks, className)
    <!-- begin block -->
    div(class=className)
        each block in blocks
            if(block.about === pageClass)
                .colums
                    .colums_col50
                        h2(class= className+'__title')= block.title
                        p(class= className+'__text')= block.text
                    .colums_col50
                        img(class= className+'__img' src= block.image)
    <!-- end block -->