-
    const dataAbout = [
        {
            about: 'ArchCiT-page',
            type: 'institute',
            title: 'About', 
            //- Institute of Architecture, Civil Engineering and Transport',
            text: 'Institute of Architecture, Civil Engineering and Transport is one of the largest educational units of Tambov State Technical University. Educational process includes continuous training of architects, specialists for civil engineering industry, transport industry and agriculture. The Institute has great experience in conducting fundamental and applied research. It also participates in the priority RF scientific and research projects in the fields of Energy Efficiency, Energy Saving; Efficient Nature Management; Transport Systems.',
            image: '../assets/images/archsit1.jpg',
        }

    ]

-   let classAbout = 'about'
+about(dataAbout, classAbout)