-
    const dataAbout = [
        {
            about: 'ArchCiT-page',
            type: 'institute',
            title: 'About', 
            text: 'Institute of Architecture, Civil Engineering and Transport is one of the largest educational units of Tambov State Technical University. Educational process includes continuous training of architects, specialists for civil engineering industry, transport industry and agriculture. The Institute has great experience in conducting fundamental and applied research. It also participates in the priority RF scientific and research projects in the fields of Energy Efficiency, Energy Saving; Efficient Nature Management; Transport Systems.',
            image: '../assets/images/archsit1.jpg',
        },
        {
            about: 'TI-page',
            type: 'institute',
            title: 'About',
            text: 'Technological institute is the largest integrated innovative center in Tambov region for training specialists in mechanical and chemical engineering, material science, nature management, food production and modern technologies.  The Institute departments support long-term cooperation with research and academic institutions in Russia and abroad as well as with regional businesses and industrial enterprises forming the triangle "Science-University-Industry".',
            image: '../assets/images/ti.jpg',
        },


    ]

-   let classAbout = 'about'
+about(dataAbout, classAbout)