-
    const dataAbout = [
        {
            about: 'ArchCiT-page',
            type: 'institute',
            title: 'About', 
            text: 'Institute of Architecture, Civil Engineering and Transport is one of the largest educational units of Tambov State Technical University. Educational process includes continuous training of architects, specialists for civil engineering industry, transport industry and agriculture. The Institute has great experience in conducting fundamental and applied research. It also participates in the priority RF scientific and research projects in the fields of Energy Efficiency, Energy Saving; Efficient Nature Management; Transport Systems.',
            image: '../assets/images/archsit1.jpg',
        },
        {
            about: 'TI-page',
            type: 'institute',
            title: 'About',
            text: 'Technological Institute is the largest integrated innovative center in Tambov region for training specialists in mechanical and chemical engineering, material science, nature management, food production and modern technologies.  The Institute departments support long-term cooperation with research and academic institutions in Russia and abroad as well as with regional businesses and industrial enterprises forming the triangle "Science-University-Industry".',
            image: '../assets/images/ti.jpg',
        },
        {
            about: 'IAIT-page',
            type: 'institute',
            title: 'About',
            text: 'The Institute of Automation and Information Technologies provides in-depth training and research in the field of computer science and software engineering, mechatronics and robotics. It provides strong practical and theoretical knowledge through a broad range of modules including Theoretical Fundamentals of Computer Science, Information Systems and Processes, Methods and Systems of Information Protection, Information Safety and many others. Fundamental theoretical training, skills and expertise allow graduates to match the rapid increase in needs for highly qualified engineers across the full breadth of Electronic and Computer Engineering in industrial sector, research institutes, banks and private sector.',
            image: '../assets/images/iait.jpg',
        },
        {
            about: 'IECONOM-page',
            type: 'institute',
            title: 'About',
            text: 'The Institute of Economics and Quality of Life emphasizes professional training of qualified specialists in the fields of Management, Business Informatics, Economics, Economic Security, Commerce taking into account the current needs of the labour market at regional, national and international levels. Educational, research and innovative potential of the Institute is represented by a wide range of careers in financial, bank and investment spheres that graduates can pursue as well as international collaboration with leading foreign universities and companies.',
            image: '../assets/images/ieconom.jpg',
        },
        {
            about: 'ILAW-page',
            type: 'institute',
            title: 'About',
            text: 'The main mission of the Institute of Law is to train highly qualified and competitive specialists in the field of law, safety, advertising and public relations. The experienced professors and practitioners share their knowledge with students. A lot of external experts are involved into the teaching process. "Law" students may choose to specialize in civil or criminal law. The Institute also trains lawyers for industry, power engineering, health services, traffic safety.',
            image: '../assets/images/ilaw.jpg',
        },
        {
            about: 'IENERGO-page',
            type: 'institute',
            title: 'About',
            text: 'The Institute of Power Engineering, Tool Engineering and Radio Electronics has developed over the last two decades providing new solutions for power and electrical engineering industry. It trains specialists able to design, develop, test and supervise electrical systems and power stations. Students acquire knowledge in the fields of electrical engineering, radio engineering, mathematical modeling, up-to-date IT, microprocessor devices. To improve the quality of training the Institute develops cooperation with industrial enterprises organizing departments there. The training process includes also research activities. Students develop diagnostic and teaching devices, computer systems, devices for environmental monitoring and processing control. Graduates have practice and are employed by electrical, heat and power engineering companies, biomedical engineering enterprises, commercial companies which supply biomedical equipment.',
            image: '../assets/images/ienergo.jpg',
        },
        {
            about: 'IDPO-page',
            type: 'institute',
            title: 'About',
            text: 'The Institute provides over 100 programs of additional training and retraining of specialists considering demands of the regional economy in the fields of Radio Engineering and Electronics, Construction and Public Utilities, Transport, Engineering, Information Technologies, Energy Saving and Energy Efficiency, Law, Economics and Management and many others. The Institute has strong cooperation with the Tambov regional enterprises and organizations developing and implementing corporate educational programs aiming at improvement of their competitiveness and sustainable development.Training of specialists in the frame of Presidential Program on Training Managers for Enterprises of RF National Economy is carried out at Tambov State Technical University since 1999 when the University was recognized as the primary university of the Tambov region. The main strategic goal of the program is to improve enterprise management increasing its competitiveness and efficiency. Program tasks are: retraining of specialists in Russian higher education institutions, organization of internships in Russian and foreign enterprises, promotion of projects developed by the trainees.',
            image: '../assets/images/idpo.jpg',
        },
        {
            about: 'ISOCIAL-page',
            type: 'institute',
            title: 'About',
            text: 'The Faculty of Natural and Social Sciences unites general education departments that implement educational activities in all areas of training in terms of fundamental disciplines: higher mathematics, physics, foreign languages, history and philosophy, physical training and sport.Educators of the Faculty of Natural Sciences and Humanities actively cooperate with school graduates, provide open lectures for students of colleges and technical schools - potential TSTU applicants.',
            image: '../assets/images/isocial.jpg',
        },


    ]

-   let classAbout = 'about'
+about(dataAbout, classAbout)