-
    const dataAbout = [
        {
            about: 'ArchCiT-page',
            type: 'institute',
            title: 'About', 
            text: 'Institute of Architecture, Civil Engineering and Transport is one of the largest educational units of Tambov State Technical University. Educational process includes continuous training of architects, specialists for civil engineering industry, transport industry and agriculture. The Institute has great experience in conducting fundamental and applied research. It also participates in the priority RF scientific and research projects in the fields of Energy Efficiency, Energy Saving; Efficient Nature Management; Transport Systems.',
            image: '../assets/images/archsit1.jpg',
        },
        {
            about: 'TI-page',
            type: 'institute',
            title: 'About',
            text: 'Technological Institute is the largest integrated innovative center in Tambov region for training specialists in mechanical and chemical engineering, material science, nature management, food production and modern technologies.  The Institute departments support long-term cooperation with research and academic institutions in Russia and abroad as well as with regional businesses and industrial enterprises forming the triangle "Science-University-Industry".',
            image: '../assets/images/ti.jpg',
        },
        {
            about: 'IAIT-page',
            type: 'institute',
            title: 'About',
            text: 'The Institute of Automation and Information Technologies provides in-depth training and research in the field of computer science and software engineering, mechatronics and robotics. It provides strong practical and theoretical knowledge through a broad range of modules including Theoretical Fundamentals of Computer Science, Information Systems and Processes, Methods and Systems of Information Protection, Information Safety and many others. Fundamental theoretical training, skills and expertise allow graduates to match the rapid increase in needs for highly qualified engineers across the full breadth of Electronic and Computer Engineering in industrial sector, research institutes, banks and private sector.',
            image: '../assets/images/iait.jpg',
        },
        {
            about: 'IECONOM-page',
            type: 'institute',
            title: 'About',
            text: 'The Institute of Economics and Quality of Life emphasizes professional training of qualified specialists in the fields of Management, Business Informatics, Economics, Economic Security, Commerce taking into account the current needs of the labour market at regional, national and international levels. Educational, research and innovative potential of the Institute is represented by a wide range of careers in financial, bank and investment spheres that graduates can pursue as well as international collaboration with leading foreign universities and companies.',
            image: '../assets/images/ieconom.jpg',
        },
        {
            about: 'ILAW-page',
            type: 'institute',
            title: 'About',
            text: 'The main mission of the Institute of Law is to train highly qualified and competitive specialists in the field of law, safety, advertising and public relations. The experienced professors and practitioners share their knowledge with students. A lot of external experts are involved into the teaching process. "Law" students may choose to specialize in civil or criminal law. The Institute also trains lawyers for industry, power engineering, health services, traffic safety.',
            image: '../assets/images/ilaw.jpg',
        },


    ]

-   let classAbout = 'about'
+about(dataAbout, classAbout)