mixin social()
    <!-- begin social -->
    .social
        a.social__link(href="https://vk.com/tmbstu" target="_blank")
            i.vkontakte
                img.social__img(src='../assets/images/icons/vk.png' alt="TSTU vkontakte")
        //- a.social__link(href="https://www.instagram.com/tmbstu/" target="_blank")
        //-     i.instagram
        //-         img.social__img(src='../assets/images/icons/instagram.png' alt="TSTU instagram")
        //- a.social__link(href="https://www.facebook.com/tmbstu/" target="_blank")
        //-     i.facebook
        //-         img.social__img(src='../assets/images/icons/facebook.png' alt="TSTU facebook")
    <!-- end social -->