mixin social()
    <!-- begin social -->
    .social
        a.social__link(href="https://vk.com/ums_tstu")
            i.vkontakte
                img.social__img(src='../assets/images/icons/vk.png')
        a.social__link(href="https://www.instagram.com/ums_tstu")
            i.instagram
                img.social__img(src='../assets/images/icons/instagram.png')
        a.social__link(href="https://www.facebook.com/umststu" alt="TSTU facebook" )
            i.facebook
                img.social__img(src='../assets/images/icons/facebook.png')
    <!-- end social -->