.card {
    display: flex;
    align-items: center;
    &__logo {
        width: 70px;
        height: auto;
        cursor: pointer;
        margin-right: 10px;
        @media screen and (min-width: $phone) {
            width: 75px;
            margin-right: 26px;
        }
        @media screen and (min-width: $tablet-sm) {
            margin-top: 10px;
            width: 90px;
        }
        @media screen and (min-width: $tablet) {
            width: 110px;
            margin-top: 16px;
        }
        @media screen and (min-width: $desktop-sm) {
            margin-right: 54px;
            width: 130px;
        }
        @media screen and (min-width: $desktop) {
            margin-right: 60px;
            width: 150px;
        }
        @media screen and (min-width: $desktop-lg) {
            margin-right: 48px;
        }
        @media screen and (min-width: $desktop-xl) {
            width: 200px;
            margin-right: 100px;
        }
    }
    &__name {
        display: flex;
        flex-direction: column;
        font-family: $font-main;
        color: $color-primary;
        @media screen and (min-width: $phone) {
            margin-right: 20px;
        }
    }
    &__link {
        text-decoration: none;
        color: $color-primary;
    }
    &__title {
        display: block;
        font-family: $font-heading-1;
        font-size: 12px;
        @media screen and (min-width: $phone) {
            font-size: 18px;
        }
        @media screen and (min-width: $tablet-sm) {
            font-size: 20px;
        }
        @media screen and (min-width: $tablet) {
            display: inline;
            font-size: 22px;
        }
        @media screen and (min-width: $desktop-sm) {
            font-size: 36px;
        }
        @media screen and (min-width: $desktop) {
            letter-spacing: 2px;
            font-size: 45px;
        }
        @media screen and (min-width: $desktop-lg) {
            font-size: 48px;
        }
        @media screen and (min-width: $desktop-xl) {
            font-size: 60px;
            letter-spacing: 4px;
        }
    }
    &__slogan {
        color: $color-accent;
        font-family: $font-heading;
        padding-left: 5px;
        display: none;
        @media screen and (min-width: $tablet) {
            display: block;
            font-size: 16px;
        }
        @media screen and (min-width: $desktop-sm) {
            font-size: 20px;
        }
        @media screen and (min-width: $desktop) {
            font-size: 24px;
        }
        @media screen and (min-width: $desktop-xl) {
            font-size: 32px;
        }
    }
}