-   let logo_url = '../assets/images/logo/'
-   let logo_alt = 'logo of '
-   let url = '/career-and-job/partners/'
-
    const dataCard = [
        {
            logo: 'sample-logo.svg',
            name: "Confectionery Factory 'TAKF'",
            short_name: 'takf',
            sector: 'confectionery production',
            website: 'https://www.uniconf.ru/factories/takf/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Tambov Galvanotechnika named after S.I. Livshitz',
            short_name: 'galvanicrus',
            sector: '',
            website: 'http://www.galvanicrus.ru/catalog/tagat/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Corporation Roskhimzaschita',
            short_name: 'roskhimzaschita',
            sector: '',
            website: 'http://krhz.ru/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Orbita',
            short_name: 'orbita',
            sector: '',
            website: 'http://www.orbitaoao2.tamb.ru/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Vagonremmash',
            short_name: 'vagonremmash',
            sector: '',
            website: 'http://www.vagonremmash.ru/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            
            logo: 'sample-logo.svg',
            name: 'Pigment',
            short_name: 'pigment',
            sector: '',
            website: 'https://krata.ru/index.php/ru/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'ARTI-Plant',
            short_name: 'arti',
            sector: '',
            website: 'http://www.arti.com.ru/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'TALVIS',
            short_name: 'talvis',
            sector: '',
            website: 'http://www.talvis.ru/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'ISOROC',
            short_name: 'isoroc',
            sector: '',
            website: 'https://www.isoroc.ru/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Khimpromstroy',
            short_name: 'khimpromstroy',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'ZAVKOM',
            short_name: 'zavkom',
            sector: '',
            website: 'www.zavkom.com/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Tambov plant Oktyabr',
            short_name: 'oktabr',
            sector: '',
            website: 'https://oktabr-tz.ru/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Pervomaiskkhimmash',
            short_name: 'pervomaiskkhimmash',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: "Michurinsk Plant 'Progress'",
            short_name: 'michurinsk-plant-progress',
            sector: '',
            website: 'https://mzp.su/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Rostelecom',
            short_name: 'rostelecom',
            sector: '',
            website: 'https://tambov.rt.ru/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Ecokhimproject',
            short_name: 'ecokhimproject',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: "Tambov plant 'Revtrud'",
            short_name: 'revtrud',
            sector: '',
            website: 'https://oktabr-tz.ru/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: "Tambov plant 'Electropribor'",
            short_name: 'electropribor',
            name: 'Electropribor',
            sector: '',
            website: 'https://elektmb.ru/',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
           logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            logo_url: '../assets/images/logo/sample-logo.svg',
            logo_alt: 'logo of ',
            heading: '',
            url: '/career-and-job/.html',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            logo_url: '../assets/images/logo/sample-logo.svg',
            logo_alt: 'logo of ',
            heading: '',
            url: '/career-and-job/.html',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            logo_url: '../assets/images/logo/sample-logo.svg',
            logo_alt: 'logo of ',
            heading: '',
            url: '/career-and-job/.html',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            logo_url: '../assets/images/logo/sample-logo.svg',
            logo_alt: 'logo of ',
            heading: '',
            url: '/career-and-job/.html',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            logo_url: '../assets/images/logo/sample-logo.svg',
            logo_alt: 'logo of ',
            heading: '',
            url: '/career-and-job/.html',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            logo_url: '../assets/images/logo/sample-logo.svg',
            logo_alt: 'logo of ',
            heading: '',
            url: '/career-and-job/.html',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            logo_url: '../assets/images/logo/sample-logo.svg',
            logo_alt: 'logo of ',
            heading: '',
            url: '/career-and-job/.html',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
        {
            logo: 'sample-logo.svg',
            name: 'Confectionery Factory "TAKF"',
            short_name: 'takf',
            logo: 'sample-logo.svg',
            logo_alt: 'logo of ',
            heading: '',
            url: '/career-and-job/.html',
            sector: '',
            website: '',
            description: '',
            video_title: '',
            video_url: '',
            visibility: 'on'
        },
    ]

-   let classCard = 'card'
+card(dataCard, classCard, logo_url, logo_alt, url)