.banner {
    height: 60vh;
    overflow: hidden;
    position: relative;
    @media screen and (min-width: $desktop-sm) {
        height: 80vh;
    }
    &__item {
        display: flex;
        transition: transform 400ms, opacity 200ms;
        transform: scale(1.1);
        will-change: transform;
        object-position: center center;
        object-fit: cover;
    }
    &__item:hover {
        transform: scale(1.03);
    }
    &__img {
        position: relative;
        min-width: 100%;
        top: -100px;
    }
    &__img--about {
        top: -180px;
    }
    &__img--mission {
        top: -300px;
    }
    &__img--rector {
        top: 0px;
        right: 100px;
    }
}