-
    const dataBanner2 = [
        {
            for_page: 'ArchCiT-page',
            bg_image:'../assets/images/logo/institutes/tstu-institute-of-architecture-civil-engineering-and-transport-logo-bg.png',
            heading: 'Institute of Architecture, Civil Engineering and Transport',
            image: '../assets/images/logo/institutes/tstu-institute-of-architecture-civil-engineering-and-transport-logo.jpg',
        },
        {
            for_page: 'TI-page',
            bg_image:'../assets/images/logo/institutes/tstu-technological-institute-logo-bg.png',
            heading: 'Technological Institute',
            image: '../assets/images/logo/institutes/tstu-technological-institute-logo.jpg',
        },
        {
            for_page: 'IAIT-page',
            bg_image:'../assets/images/logo/institutes/tstu-institute-of-automation-and-information-technologies-logo-bg.png',
            heading: 'Institute of Automation and Information Technologies',
            image: '../assets/images/logo/institutes/tstu-institute-of-automation-and-information-technologies-logo.jpg',
        },
        {
            for_page: 'IECONOM-page',
            bg_image:'../assets/images/logo/institutes/tstu-institute-of-economics-and-quality-of-life-logo-bg.png',
            heading: 'Institute of Economics and Quality of Life',
            image: '../assets/images/logo/institutes/tstu-institute-of-economics-and-quality-of-life-logo.jpg',
        },
        {
            for_page: 'ILAW-page',
            bg_image:'../assets/images/logo/institutes/tstu-institute-of-law-logo-bg.png',
            heading: 'Institute of Law',
            image: '../assets/images/logo/institutes/tstu-institute-of-law-logo.jpg',
        },
        {
            for_page: 'IENERGO-page',
            bg_image:'../assets/images/logo/institutes/tstu-institute-of-power-engineering-logo-bg.png',
            heading: 'Institute of Power Engineering, Tool Engineering and Radio Electronics',
            image: '../assets/images/logo/institutes/tstu-institute-of-power-engineering-logo.jpg',
        },
        {
            for_page: 'IZO-page',
            bg_image:'../assets/images/logo/institutes/tstu-institute-of-study-by-correspondence-logo-bg.png',
            heading: 'Institute of Study by Correspondence',
            image: '../assets/images/logo/institutes/tstu-institute-of-study-by-correspondence-logo.jpg',
        },
        {
            for_page: 'IDPO-page',
            bg_image:'../assets/images/logo/institutes/tstu-institute-of-additional-professional-education-logo-bg.png',
            heading: 'Institute of Additional Professional Education',
            image: '../assets/images/logo/institutes/tstu-institute-of-additional-professional-education-logo.jpg',
        },
        {
            for_page: 'IINTEREDU-page',
            bg_image:'../assets/images/logo/institutes/tstu-international-education-faculty-logo-bg.png',
            heading: 'International Education Faculty',
            image: '../assets/images/logo/institutes/tstu-international-education-faculty-logo.jpg',
        },
        {
            for_page: 'ISOCIAL-page',
            bg_image:'../assets/images/logo/institutes/tstu-faculty-of-natural-and-social-sciences-logo-bg.png',
            heading: 'Faculty of Natural and Social Sciences',
            image: '../assets/images/logo/institutes/tstu-faculty-of-natural-and-social-sciences-logo.jpg',
        },
    ]

-   let classBanner2 = 'banner2'
+banner2(dataBanner2, classBanner2)