-
    const dataBanner2 = [
        {
            for_page: 'ArchCiT-page',
            bg_image:'../assets/images/logo/institutes/arxsit_emb_.png',
            heading: 'Institute of Architecture, Civil Engineering and Transport',
            image: '../assets/images/logo/institutes/arxsit_emb_.jpg',
        },
        {
            for_page: 'TI-page',
            bg_image:'../assets/images/logo/institutes/technological-institute-TSTU_bg.png',
            heading: 'Technological Institute',
            image: '../assets/images/logo/institutes/technological-institute-TSTU.jpg',
        },
    ]

-   let classBanner2 = 'banner2'
+banner2(dataBanner2, classBanner2)