-
    const dataBanner2 = [
        {
            bg_image:'../assets/images/logo/institutes/arxsit_emb_.png',
            heading: 'Institute of Architecture, Civil Engineering and Transport',
            image: '../assets/images/logo/institutes/arxsit_emb_.jpg',
        }
    ]

-   let classBanner2 = 'banner2'
+banner2(dataBanner2, classBanner2)