extends ../layout/layout-inner
block variables
    - var description = 'About Tambov State Technical University - Tambov State Technical University'
    - var title = 'About Tambov State Technical University'
    - var pageClass = 'about-page'
    - var sectionKey = 'about'

//-block promo
    include ../../blocks/promo/promo
block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") About TSTU
    section.about
        h1.section__title About TSTU
        .colums
            aside.colums__col30
                -   var section = 'about'
                include ../../blocks/sidebar/sidebar
            main.colums__col70
                .content
                    p Tambov State Technical University is considered to be one of the largest educational institutions in the region. It was founded in 1958 as the Tambov affiliate of Moscow Institute of Chemical Engineering and called Tambov Institute of Chemical Engineering. 
                    p In 1993 the Institute was renamed into Tambov State Technical University. More than 55 000 specialists with diplomas of higher education have been trained during 62 years of university existence.
                    p Many university graduates head large industrial enterprises and institutions of the Tambov region as well as other Russian areas. Now the university presents itself an integral system of continuous education including preschool, school, university and post-graduate levels. The basic principles of this system are: availability of education for all social groups, life-long character of education, combination of humanitarian and technical courses.
                    p University Mission is expressed by the following formula: to receive, store, develop and disseminate knowledge using advanced information technologies, to provide training and consulting services, create unique high tech products, to train competitive specialists for the Russian and international market, to support economic development of the Tambov region.