extends ../layout/layout-inner
block variables
    - var description = 'description - Career and job opportunities for students of Tambov State Technical University, list of employers'
    - var title = 'Career and job'
    - var pageClass = 'career-and-job'
    - var sectionKey = 'career-and-job'

block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") Career and job
    section
        h1.section__title Career and job
        .colums
            .programmes
                .content
                    include ../../blocks/cards/cards
                    h2.content__title Partners
                    table.table
                        thead.table__thead
                            tr.table__heading
                                th Company name
                                th Web-site link
                        tbody.table__tbody
                            tr
                                td.table__subheading JSC Confectionery Factory 'TAKF'
                                td.table__subheading
                                    a(href="https://www.uniconf.ru/factories/takf/") https://www.uniconf.ru/factories/takf/
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading
                                    a(href="") Ecology and nature management
                            

