extends ../layout/layout-inner
block variables
    - var description = 'Diploma Supplement - Tambov State Technical University, standards agreed by the European Commission, the Council of Europe and UNESCO'
    - var title = 'Diploma Supplement'
    - var pageClass = 'diploma-supplement'
    - var sectionKey = 'international'

block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="tstu-international.html" class="breadcrumbs__link breadcrumbs__section-link") TSTU International
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") Diploma Supplement
    section 
        h1.section__title Diploma Supplement
        .colums
            aside.colums__col30
                include ../../blocks/sidebar/sidebar
            main.colums__col70
                .content
                    h2.content__title.content__title--top What is a Diploma Supplement?
                    p The Diploma Supplement (DS) is a document accompanying a higher education diploma, providing a standardized description of the nature, level, context, content and status of the studies completed by its holder. It is produced by the higher education institutions according to standards agreed by the European Commission, the Council of Europe and UNESCO. The Diploma Supplement is also part of the Europass framework transparency tools.
                    .content__img-block
                        img.content__img-item--one(src='../assets/images/TSTU-diploma-supplement.jpg')
                    h2.content__title What are the benefits?
                    p
                        b For students:
                    ul
                        li a qualification that is more readable and easily comparable abroad
                        li a precise description of their academic career and the competencies acquired during their studies
                        li easier access to opportunities for work or further studies abroad
                    p
                        b For higher education institutions:
                    ul
                        li more transparent qualifications
                        li continued national/institutional autonomy within a common framework accepted throughout Europe
                        li informed judgements about qualifications that can be understood in other educational contexts
                        li greater visibility of the institution abroad
                        li enhanced employment prospects for their graduates, both at home and abroad
                    h2.content__title TSTU graduates can obtain the European Diploma Supplement
                    p Diploma Supplement is issued at the individual request of any TSTU graduate student (any graduation year, specialty, mode of study) in English language.
                    p To receive the Diploma Supplement, you should submit the following documents:
                    ul
                        li copy of TSTU diploma
                        li copy of TSTU diploma supplement
                        li application addressed to the rector
                        li copy of the first page of the foreign passport
                    p The fee for a Diploma Supplement is 3730 rubles.
                    h2.content__title Another way to legalize Russian higher education diploma
                    p Another way to legalize Russian higher education diploma is to confirm the documents by "Apostille" at the Department of Education and Science of Tambov Region.
                    p Apostille affixed documents are valid on the territory of the countries, participating in the Hague Convention without additional legalization. 
                    p Read more information on
                        a(href="https://obraz.tmbreg.ru/podtverzhdenie-dokumentov-ob-obrazovanii-apostil") the official website of the Department of Education and Science of Tambov region.
                    h2.content__title Apply for the Diploma Supplement
                    p To apply for the Diploma Supplement or further information please contact International Relations Office

                    p
                        b Address: Room 29, 106, Sovetskaya Str., Tambov, 392000, Russia
                    p
                        b Tel: +7 (4752) 63-01-12
                    p
                        b E-mail: post@mcms1.tstu.ru
