extends ../layout/layout-inner
block variables
    - var description = 'History of TSTU - Tambov State Technical University'
    - var title = 'History of Tambov State Technical University'
    - var pageClass = 'history-page'
    - var sectionKey = 'about'

//-block promo
    include ../../blocks/promo/promo
block content
    .breadcrumbs.bt-blue 
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="about.html" class="breadcrumbs__link breadcrumbs__section-link") About TSTU
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") History
    section.about
        h1.section__title History
        .colums
            aside.colums__col30
                include ../../blocks/sidebar/sidebar
            main.colums__col70
                .content
                    .content__img-block
                        img.content__img-item--one(src='../assets/images/history-tstu.jpg')
                    h2.content__title F.S. Polyanskiy
                    p Tambov State Technical University (TSTU) was founded in 1958 as a branch of the Moscow Institute of Chemical Engineering (MICE) due to the intensive development of the chemical industry and chemical engineering enterprises in our country. It was headed by Fyodor S. Polyanskiy.
                    p The opening of Tambov branch of Moscow Institute of Chemical Engineering in 1958 was an important step in solving the problems of providing the national economy with personnel in the field of creating, operating and repairing chemical equipment. With the development of the chemical industry and chemical engineering in the USSR, the need for personnel also grew. Only MICE remained the university, that fully specialized in the training of engineers for chemical engineering. By the end of the 1950s, the problem of opening another higher educational institution of this type was finally ripe.
                    p The choice of Tambov for location of the new institute was not accidental, since in the 1940s and 1950s, industrial production, including chemical engineering, developed rapidly in our region.
                    p In August 1958, the regional authorities adopted a resolution on measures to facilitate the organization of the evening branch of MICE in Tambov.
                    p By the beginning of the 1959/1960 academic year, the Institute had the necessary chemical laboratory, a drawing room, and a small library with a reading room, organized mainly at the expense of the collection of educational literature donated by MICE library.
                    p In 1959, the first set of students was held in the Tambov branch of  MICE. In the first year 125 people were enrolled in the evening department and 61 &ndash; in the correspondence department.
                    p The contingent of students of the branch increased every year, and the staff of teachers grew along with it &ndash; not only quantitatively, but also qualitatively. The availability of the highly qualified scientific personnel allowed the Institute to carry out research work on the orders of industrial enterprises on a contractual basis. To guide this work, a research and development department was established in MICE branch in 1963.
                    h2.content__title V.V. Vlasov
                    p The successful and comprehensive development of the branch created the prerequisites for raising the question of formation of an independent institute on its basis. In 1965, the branch acquired the status of an independent university and was transformed into the Tambov Institute of Chemical Engineering (TICE).
                    p The first rector was Doctor of Technical Sciences, Professor Valentin V. Vlasov.
                    p In the same year, the first graduation of certified engineers took place, many of whom later became major specialists in the domestic chemical engineering, industry specialists, and responsible employees.
                    p In 1969, the formation of the computer center began, new departments and faculties appeared. By the end of the year, the institute already had more than 40 laboratories. One of them was a multiplying laboratory, later transformed into a publishing and printing center. This made it possible to provide students with intra-university publications, as well as the necessary educational and methodological literature.
                    p At the same time, the construction of new academic buildings, student dormitories and apartments for the faculty and staff became an important task for the Institute. Four well-organized dormitories appeared. In a picturesque area near the village of Goreloe on the banks of the Tsna River, the construction of a sports and recreation camp &quot;Bodrost&quot; began.
                    h3.content__title G.A. Minaev
                    p In 1976, the staff of the Institute managed to solve a number of problems (optimization of construction works, commissioning of new buildings), which made it possible to abandon most of the temporarily rented premises and provide conditions for the normal development of departments, libraries, and publishing centers.
                    p From 1976 to 1985, the management of the institute was entrusted to the Doctor of Technical Sciences, Professor Georgy A. Minaev.
                    p TICE has expanded the range of specialties to meet the needs of the regional economy. In 1979, the training of civil engineers was started, and in 1982, the first recruitment for the specialty &quot;Production and design of radio equipment&quot; took place. The specialty &quot;CAD Systems&quot; was opened in 1984.
                    p In 1980, in accordance with the decision of the Ministry of Higher and Secondary Special Education of the USSR postgraduate courses appeared and the first postgraduate students were enrolled  to the specialties  &ldquo;Machines and units of refineries and chemical plants &ldquo; , &ldquo;Automation of technological processes and productions&rdquo; and &ldquo;Processes and apparatuses of chemical technology&rdquo;. The first postgraduate students graduated in 1983.
                    h2.content__title S.V. Mishchenko
                    p From 1985 to 2012, the rector of the Institute, and then the University, was Sergey Mishchenko, Doctor of Technical Sciences, Professor, Honored Worker of Science and Technology of the Russian Federation, Laureate of the Russian Government Prize in the field of education.
                    p Since 1991, TICE has opened its doors to foreign citizens from more than 20 countries in Asia and Africa.
                    p The modern educational and methodical, scientific and research, material and technical complex created in the following years and the established scientific schools allowed Tambov Institute of Chemical Engineering to receive the status of the State Technical University in 1993.
                    p For more than 50 years of its existence, the university has successfully coped with the tasks of training highly qualified personnel. Hundreds of its graduates head the largest industrial enterprises and organizations in Russia, work in administrative authorities of various levels, including the government of the Russian Federation.
                    p The logic of more than 50 years of progressive development of TSTU was determined, first of all, by the needs of the national economy of the country and the regional economy. Thus, by the mid-90s of the XX century, the university turned into the largest educational, scientific and cultural center of the Central Federal District with unique educational, laboratory and scientific equipment, powerful human resources, extensive infrastructure of the educational process and scientific and innovative activities, numerous certificates of international and national recognition.
                    p The University is focused on the implementation of programs of scientific, innovative and educational activities in the field of technosphere security and sustainable development through an open and developing network of educational and scientific complexes.
                    p Since 2004, TSTU has been a system-forming university of the Association &quot;V. I. Vernadsky United University&quot;, which includes Tambov State Technical University, Michurinsky State Agrarian University, Voronezh State Technological Academy, All-Russian Research Institute for the Use of Machinery and Petroleum Products in Agriculture of the Russian Academy of Agricultural Sciences, Vyatka State University, Russian State Agrarian Correspondence University, Tambov Agricultural College, Uvarovsky Chemical College. Scientific-educational group, headed by leading scientists of the Association, completed dozens of joint innovation projects on the creation of energy-saving system, new and renewable energy; sustainable, environmentally friendly production processing of agricultural products food, nanotechnology and nanomaterials, biomedical technologies, life support and human protection; technologies to reduce risk and mitigate the consequences of natural and man-made disasters; technologies for the processing and disposal of man-made waste and others within the framework of federal and departmental target programs.
                    h2.content__title S.I. Dvoretskiy
                    p From October 30, 2012 to July 2014, Stanislav I. Dvoretskiy, Doctor of Technical Sciences, Professor, Honored Scientist of the Russian Federation, Honorary Worker of Higher Professional Education of Russia, performed the duties of the Rector of TSTU.
                    p Modern requirements to increase the quality of engineering education on the background of reducing the total number of University students, orientation of technical universities on the development of scientific research, design work, strengthening ties with industry, interested in the new frames and new technologies, the rate of radical technological modernization of the Russian economy and the transition to the sixth technological order - all this determined the need for a new vision for the strategic development of TSTU.
                    p The main priority of strategic development of the university for the period 2014-2018 was the creation of a reference university of regional economy on its basis, which supports and develops the economy, science, education and culture in the region in priority areas and is the Center of cluster development of industry and agriculture of the Tambov region and network interaction with educational and scientific organizations, industrial enterprises of the region. This will allow us to position TSTU in the future as a Russian multidisciplinary scientific and educational center (Center of Competence or Center of Excellence) in the field of food, chemical, environmental, technosphere safety and sustainable development.
                    p In this context, the Concept and Program were developed, as well as target indicators of the strategic development of TSTU for the period 2014-2018, covering all aspects of the technical university&apos;s activities: improvement and development of educational activities under the motto &quot;Long Life Learning&quot;; creation of a competitive research and development sector; renewal and qualitative development of human resources; improvement of the organizational structure and management system of the university; social development and youth policy; infrastructure and campus; the positioning of TSTU.
                    p In order to implement the Strategic Development Program of TSTU, in 2013, the construction of a new organizational structure of the University was completed, including the creation of powerful educational and scientific structures, i.e. specialized institutes.
                    p In accordance with the new organizational structure, TSTU includes:
                    ul
                        li Educational and scientific institutes: Technological Institute; Institute of Power Engineering, Tool Engineering  and Radio Electronics; Institute of Automation and Information Technologies; Institute of Architecture, Civil Engineering and Transport; Institute of Economics and Quality of Life; Institute of Law; Institute of Study by Correspondence; Institute of Additional Professional Education;
                        li Faculties: Faculty of Natural and Social Sciences; Faculty of International Education.
                        li The University&apos;s colleges: Engineering; Multidisciplinary;
                        li Polytechnic Lyceum-boarding school for gifted children from rural areas;
                        li Basic departments in research institutes and high-tech enterprises of the region: &quot;Functional materials and life support systems&quot; in JSC &quot;Corporation &quot; Roskhimzashchita&quot;; &quot;Agroengineering&quot; and &quot;Energy-efficient systems&quot;; &quot;Nanotechnologies and nanomaterials&quot; in JSC &quot;Tambov Plant&quot; Komsomolets &quot; named after N. S. Artemov&quot;;
                        li Research Institute &quot;Nanotechnologies and Nanomaterials &quot;(organized jointly with TSU named after G. R. Derzhavin);
                        li Specialized integrated research and educational centers established jointly with the institutes of the Russian Academy of Sciences;
                        li Specialized innovation centers: Engineering Center in the field of life support and protection of the population, territories and infrastructure from the impact of negative factors of chemical nature; Center for Prototyping and Industrial Design; Scientific and Technical Academic Center for Architecture and Construction; Center for the collective use of unique scientific equipment &quot; Production and application of multifunctional nanomaterials&quot;;
                    h2.content__title M.N. Krasnyanskiy
                    ul
                        li Business incubator for young scientists, postgraduates and students &quot;Innovatika&quot;;
                        li Small innovative enterprises organized with the participation of the university in accordance with Federal Law &numero; 217;
                        li Specialized councils for the defense of candidate and doctoral theses, including joint councils.
                    p Since July 10, 2014, Doctor of Technical Sciences, Professor Mikhail N. Krasnyanskiy has been appointed Acting Rector of the University.
                    p Approved as Rector of the University by Order of the Ministry of Education and Science of the Russian Federation &numero; 12-07-03/91 dated July 13, 2015 for the period from 16.07.2015 to 15.07.2020.
