extends ../layout/layout-main

block variables
    - var description = 'TSTU International activities, international master programmes, Diploma Supplement, Russian language courses'
    - var title = 'TSTU International'
    - var pageClass = 'index-page'

block content
    include ../../blocks/promo/promo
    include ../../blocks/course/course
    include ../../blocks/diploma/diploma


