extends ../layout/layout-inner
block variables
    - var description = 'Institutes and faculties of TSTU - Tambov State Technical University'
    - var title = 'Institutes and faculties of Tambov State Technical University'
    - var pageClass = 'institutes-page'
    - var sectionKey = 'institutes'

//- block promo
//-     include ../../blocks/promo/promo
//-     include ../../blocks/menu/menu
block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") Institutes & Faculties
    section.about
        h1.section__title Institutes and Faculties
        .colums
            //- aside.colums__col30
            //-     include ../../blocks/sidebar/sidebar
            main.colums__col70
                .content
                    include ../../blocks/institute/institute