extends ../layout/layout-inner


block variables
    - var description = 'Institute of Additional Professional Education - Tambov State Technical University'
    - var title = 'Institute of Additional Professional Education of Tambov State Technical University'
    - var pageClass = 'IDPO-page'
    - var sectionKey = 'institutes'
    - var pageDegree

block promo
    include ../../blocks/promo/promo
    include ../../blocks/menu/menu
block content
    .breadcrumbs
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="institutes-and-faculties.html" class="breadcrumbs__link breadcrumbs__section-link") Institutes & Faculties
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") Institute of Additional Professional Education
    section.about
        .colums
            //- aside.colums__col30
            //-     include ../../blocks/sidebar/sidebar
            main
                .content
                    include ../../blocks/about/about
                    include ../../blocks/instituteInfo/instituteInfo
                    h2.section__inner-title2 Departments
                    include ../../blocks/departments/departments
                    //- h2.section__inner-title2 Educational Programs
                    //- h3.section__inner-title#bachelor Bachelor Programmes
                    //- include ../../blocks/programs/programs
                    //- h3.section__inner-title#master Master Programmes
                    //- include ../../blocks/master/master
                    //- h3.section__inner-title#specialist Specialist Programmes
                    //- include ../../blocks/specialist/specialist


