extends ../layout/layout-inner
block variables
    - var description = 'IPET programme - Tambov State Technical University'
    - var title = 'i-PET Programme'
    - var pageClass = 'ipet-programme-page'
    - var sectionKey = 'international'
block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="tstu-international.html" class="breadcrumbs__link breadcrumbs__section-link") TSTU International
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") iPET Programme
    section
        h1.section__title I-PET Programme
        .colums
            .colums__col30
                include ../../blocks/sidebar/sidebar
            .colums__col70
                .content__img-block
                    img.content__img-item--two(src='../assets/images/logo/joint-projects/enter.png')
                    img.content__img-item--two(src='../assets/images/logo/joint-projects/Erasmus+.jpg')
                h2.content__title
                    span.content__title--item About iPET programme
                    span.content__title--item "Pedagogical Training of Engineering Educators"
                p.content__text The iPET programme is a multi-level modular system for pedagogical training of engineering educators based on international network cooperation.
                p.content__text The ENTER proposes a hierarchy of 3 structured educational programmes for engineering educators - iPET programme, in the context of the European Qualifications Framework for Lifelong Learning. The actual design is one of the outputs of the project and foresees 3 educational programmes with different content and duration:
                ul.content__list
                    li.content__list--item iPET-1 Short-focused (2 ECTS) - "Qualification Development" Certificate
                    li.content__list--item iPET-2 Professional Retraining (8 ECTS) - Diploma "Higher Education Teacher"
                    li.content__list--item iPET-3 International recognized (20 ECTS) - a full programme leading to international accreditation as "Engineering Educator"
                p.content__text The iPET educational programmes are offered in different formats: onsite, online, and blended learning.
                table.table
                    thead.table__thead
                        tr.table__heading
                            th(colspan='3') iPET-1 programme (2 ECTS)
                    tbody.table__tbody
                        tr.table__subheading
                            td No.
                            td Courses
                            td ECTS
                                tr
                                    td 1.1
                                    td Innovations in engineering pedagogy
                                    td 1
                                tr
                                    td 1.2
                                    td Time management
                                    td 0.5
                                tr
                                    td 1.3
                                    td Effective interaction
                                    td 0.5
                table.table
                    thead.table__thead
                        tr.table__heading
                            th(colspan='3') iPET-2 programme (8 ECTS)
                    tbody.table__tbody
                        tr.table__subheading
                            td No.
                            td Courses
                            td ECTS
                                tr
                                    td 1.1
                                    td Innovations in engineering pedagogy
                                    td 1
                                tr
                                    td 1.2
                                    td Time management
                                    td 0.5
                                tr
                                    td 1.3
                                    td Effective interaction
                                    td 0.5
                                tr
                                    td 2.1
                                    td Enhancement of learning interactivity
                                    td 2
                                tr
                                    td 2.2
                                    td Systems analysis in education
                                    td 1
                                tr
                                    td 2.3
                                    td Pedagogical psychology and communication
                                    td 1
                                tr
                                    td 2.4
                                    td Interaction with stakeholders
                                    td 1
                                tr
                                    td 2.5
                                    td Sustainable development
                                    td 1
                h3.content__subtitle Documents
                ul.content__list
                    li.content__list--item
                        a.content__list--link(href="") Приказ о повышении квалификации по программе i-PET
                    li.content__list--item
                        a.content__list--link(href="") Приказ об организации обучения слушателей по программе профессиональной переподготовки i-PET 2
                    li.content__list--item
                        a.content__list--link(href="") Кадровое обеспечение программы i-PET
                    li.content__list--item
                        a.content__list--link(href="") Сертификаты ENTER TRAINING OF TRAINERS ON IPET-1, IPET-2, IPET-3
                    ul.contet__sublist
                        li.content__sublist--item
                            a.content__sublist--link(href="") Приказ о повышении квалификации по программе i-PET
                        li.content__sublist--item
                            a.content__list--link(href="") Приказ о повышении квалификации по программе i-PET
                        li.content__list--item
                            a.content__list--link(href="") Приказ о повышении квалификации по программе i-PET
                h3.content__subtitle Contact Information for Potencial Participants
                p.content__text
                    <strong> Programme Leader:</strong> Vice-rector for International Activities - Elena S. Mishchenko

                p.content__text Tel.: +7 (4752) 63-20-02, E-mail: int@tstu.ru

                p.content__text С дополнительной информацией можно ознакомиться на сайте проекта ЭРАЗМУС+ 598506-EPP-1-2018-1-PT-EPPKA2-CBHE-JP 
                    a.content__list--link(href="http://www.erasmus-enter.org/" target="_blank") Педагогическая подготовка преподавателей инженерных дисциплин" (ENTER).
                p.content__text
                    i   "The European Commission's support for the production of this publication does not constitute an endorsement of the contents, which reflect the views only of the authors, and the Commission cannot be held responsible for any use which may be made of the information contained therein."
                p.content__text
                    i   "Поддержка Европейской Комиссией изготовления данной публикации не подразумевает одобрения содержания материалов, которые отражают исключительно точку зрения авторов. Европейская Комиссия не несет ответственности за любое использование материалов, представленных в настоящей публикации".




                            //-
                                    tr
                                    td(rowspan='3') iPET-1 (2 ECTS)
                                    td 1.1
                                    td(class="table__text--left") Innovations in engineering pedagogy
                                    td 1
                                tr
                                    td 1.2
                                    td(class="text-left") Time management
                                    td 0.5
                                tr
                                    td 1.3
                                    td(class="text-left") Effective interaction
                                    td 0.5
                                tr
                                    td(rowspan='8') iPET-1 (2 ECTS)
                                    td 1.1
                                    td(class="text-left") Innovations in engineering pedagogy
                                    td 1
                                tr
                                    td 1.2
                                    td(class="text-left") Time management
                                    td 0.5
                                tr
                                    td 1.3
                                    td(class="text-left") Effective interaction
                                    td 0.5
                                tr
                                    td 2.1
                                    td(class="text-left") Enhancement of learning interactivity
                                    td 2
                                tr
                                    td 2.2
                                    td(class="text-left") Systems analysis in education
                                    td 1
                                tr
                                    td 2.3
                                    td Pedagogical psychology and communication
                                    td 1
                                tr
                                    td 2.4
                                    td Interaction with stakeholders
                                    td 1
                                tr
                                    td 2.5
                                    td Sustainable development
                                    td 1


        //- 5.1 add a demo mixin or existing mixin to check the work of the whole page
        //- 5.1.1 name data array using your new block name for example dataNewBlock
        //- 6.1 Creat a _new-mixin folder in _elements and new-mixin.pug file
        //- 6.2 Include this new mixin file to _elements.pug
        //- 6.3 Add variables for classname of the new-block and data values witch we are going to use in mixin
        //- 6.4 Add a mixin +mixin(dataNewBlock, mixinName) in new-block.pug
        //-7.1 create css styles in new-block.scss file in BLOCKS folder

