extends ../layout/layout-inner
block variables
    - var description = 'IPET programme - Tambov State Technical University'
    - var title = 'i-PET Programme'
    - var pageClass = 'ipet-programme-page'
    - var sectionKey = 'international'
block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") Name-of-section
    section
        h1.section__title I-PET Programme
        .colums
            .colums__col30
                include ../../blocks/sidebar/sidebar
            .colums__col70
                .content__logo-block
                    img.content__img(src='../assets/images/logo/joint-projects/enter.png')
                    img.content__img(src='../assets/images/logo/joint-projects/Erasmus+.jpg')
                h2.content__title
                    span.content__title--item About iPET programme
                    span.content__title--item "Pedagogical Training of Engineering Educators"
                p.content__text The iPET programme is a multi-level modular system for pedagogical training of engineering educators based on international network cooperation.
                p.content__text The ENTER proposes a hierarchy of 3 structured educational programmes for engineering educators - iPET programme, in the context of the European Qualifications Framework for Lifelong Learning. The actual design is one of the outputs of the project and foresees 3 educational programmes with different content and duration:
                ul.content__list
                    li.content__list--item iPET-1 Short-focused (2 ECTS) - "Qualification Development" Certificate
                    li.content__list--item iPET-2 Professional Retraining (8 ECTS) - Diploma ''Higher Education Teacher"
                    li.content__list--item iPET-3 International recognized (20 ECTS) - a full programme leading to international accreditation as "Engineering Educator"
                p.content__text The iPET educational programmes are offered in different formats: onsite, online, and blended learning.
                table.content__table
                    thead
                        tr
                            td iPET program
                            td Course
                            td ECTS
                    tbody
                        tr
                            td(rowspan='3') iPET-1 (2 ECTS)
                            td Innovations in engineering pedagogy
                            td 1
                        tr
                            td Time management
                            td 0.5
                        tr
                            td Effective interaction
                            td 0.5
                        tr
                            td(rowspan='8') iPET-1 (2 ECTS)
                            td Innovations in engineering pedagogy
                            td 1
                        tr
                            td Time management
                            td 0.5
                        tr
                            td Effective interaction
                            td 0.5
                        tr
                            td Enhancement of learning interactivity
                            td 2
                        tr
                            td Systems analysis in education
                            td 0.5
                        tr
                            td Pedagogical psychology and communication
                            td 0.5
                        tr
                            td Interaction with stakeholders
                            td 0.5
                        tr
                            td Sustainable development
                            td 0.5
                        tr
                            td(rowspan='3') iPET-1 (2 ECTS)
                            td Innovations in engineering pedagogy
                            td 1
                        tr
                            td Time management
                            td 0.5
                        tr
                            td Effective interaction
                            td 0.5


                
                h3.content__subtitle iPET programme courses
        
        //- 5.1 add a demo mixin or existing mixin to check the work of the whole page
        //- 5.1.1 name data array using your new block name for example dataNewBlock
        //- 6.1 Creat a _new-mixin folder in _elements and new-mixin.pug file
        //- 6.2 Include this new mixin file to _elements.pug
        //- 6.3 Add variables for classname of the new-block and data values witch we are going to use in mixin
        //- 6.4 Add a mixin +mixin(dataNewBlock, mixinName) in new-block.pug
        //-7.1 create css styles in new-block.scss file in BLOCKS folder

