extends ../layout/layout-inner
block variables
    - var description = 'Mission and Vision of TSTU - Tambov State Technical University'
    - var title = 'Mission and Vision of Tambov State Technical University'
    - var pageClass = 'mission-page'
    - var sectionKey = 'about'

//-block promo
    include ../../blocks/promo/promo
block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="about.html" class="breadcrumbs__link breadcrumbs__section-link") About TSTU
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") Mission & Vision
    section.about
        h1.section__title Mission & Vision
        .colums
            aside.colums__col30
                include ../../blocks/sidebar/sidebar
            main.colums__col70
                .content
                    .content__img-block
                        img.content__img-item--one(src='../assets/images/mission-tstu.jpg')
                    p The mission of TSTU is to deliver, exchange and effectively disseminate relevant innovative scientific knowledge, technology and other resources in order to become a leading provider of a globally competitive professional engineering elite with deep disciplinary education, harmoniously developed, socially active, technically-oriented and diligent personalities to create the necessary conditions for the sustainable development of the innovation ecosystem of the region, to improve the quality of life and to impact the world.
                    p Vision. TSTU positions itself as a competitive university in the global international and national scientific and educational space, focused on implementing the priorities of the National Technological Initiative, achieving the goals of Industry 4.0 and transforming into a digital university format with the functions of an integrator of the main processes within the innovation ecosystem.