extends ../layout/layout-inner
block variables
    - var description = 'Mission and Vision of TSTU - Tambov State Technical University'
    - var title = 'Mission and Vision of Tambov State Technical University'
    - var pageClass = 'mission-page'
    - var sectionKey = 'about'

//-block promo
    include ../../blocks/promo/promo
block content
    .breadcrumbs.bt-blue
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="about.html" class="breadcrumbs__link breadcrumbs__section-link") About TSTU
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") Mission & Vision
    section.about
        h1.section__title Mission & Vision
        .colums
            aside.colums__col30
                include ../../blocks/sidebar/sidebar
            main.colums__col70
                .content
                    .content__img-block
                        img.content__img-item--one(src='../assets/images/mission-tstu.jpg')
                    p University Mission is to be a leader in training a global competitive engineering elite, generating and transferring scientific knowledge and technologies, forming a harmoniously developed and socially active personality based on the digital transformation of the university and the best world traditions for the sustainable development of the region’s innovation ecosystem and improving the quality of life.
