extends ../layout/layout-inner
block variables
    - var description = 'Programmes of TSTU - Tambov State Technical University, Bachelor Degree, Master Degree, Specialist Qualification, Master Degree in English Language, PhD'
    - var title = 'Programmes of TSTU - Tambov State Technical University'
    - var pageClass = 'programmes-page'

//-block promo
    include ../../blocks/promo/promo
block content
    .breadcrumbs.bt-blue 
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") All Programmes
    section.about
        h1.section__title All Programmes
        .colums
            // aside.colums__col30
                include ../../blocks/filters/filters
            //main.colums__col70
            .programmes
                .content
                    h2.content__title Bachelor Degree Programmes
                    table.table
                        thead.table__thead
                            tr.table__heading
                                th Code
                                th Programme
                                th Institute
                                th Department
                                th Tuition Fees
                        tbody.table__tbody
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading Ecology and nature management
                                td.table__subheading(colspan='2')
                            tr
                                td
                                td Environmental safety
                                td Technological Institute
                                td
                                td.table__text--center 3100$
                            //- Next programme
                            tr
                                td.table__subheading 07.03.01
                                td.table__subheading Architecture
                                td.table__subheading(colspan='2')
                            tr
                                td
                                td Architectural design
                                td Institute of Architecture, Civil Engineering and Transport
                                td
                                td.table__text--center 3100$
                            //- Next programme
                            tr
                                td.table__subheading 07.03.01
                                td.table__subheading Construction
                                td.table__subheading(colspan='2')
                            tr
                                td
                                td Industrial and civil construction
                                td Institute of Architecture, Civil Engineering and Transport
                                td
                                td.table__text--center 3100$
                            tr
                                td
                                td Moto roads
                                td Informatics and computer engineering
                                td
                                td.table__text--center 3100$
                            //- Next programme
                            tr
                                td.table__subheading 09.03.01
                                td.table__subheading Construction
                                td.table__subheading(colspan='2')
                            tr
                                td
                                td Industrial and civil construction
                                td Institute of Automation and Information Technologies
                                td
                                td.table__text--center 3100$
                            tr
                                td
                                td Moto roads
                                td Institute of Automation and Information Technologies
                                td
                                td.table__text--center 3100$
                    h2.content__title Master Degree Programmes
                    table.table
                        thead.table__thead
                            tr.table__heading
                                th Code
                                th Programme
                                th Institute
                                th Tuition Fees
                        tbody.table__tbody
                            tr
                                td.table__subheading 05.06.03
                                td.table__subheading Ecology and nature management
                                td.table__subheading(colspan='2')

                            tr
                                td
                                td Environmental safety
                                td Institute of Automation and Information Technologies
                                td
                                td.table__text--center 3100$
                            //- Next programme
                            tr
                                td.table__subheading 07.03.01
                                td.table__subheading Architecture
                                td.table__subheading(colspan='2')
                            tr
                                td
                                td Architectural design
                                td Institute of Automation and Information Technologies
                                td
                                td.table__text--center 3100$
                            //- Next programme
                            tr
                                td.table__subheading 07.03.01
                                td.table__subheading Construction
                                td.table__subheading(colspan='2')
                            tr
                                td
                                td Industrial and civil construction
                                td Institute of Automation and Information Technologies
                                td
                                td.table__text--center 3100$
                            tr
                                td
                                td Moto roads
                                td Institute of Automation and Information Technologies
                                td
                                td.table__text--center 3100$
                            //- Next programme
                            tr
                                td.table__subheading 09.03.01
                                td.table__subheading Construction
                                td.table__subheading(colspan='2')
                            tr
                                td
                                td Industrial and civil construction
                                td Institute of Automation and Information Technologies
                                td
                                td.table__text--center 3100$
                            tr
                                td
                                td Moto roads
                                td Institute of Automation and Information Technologies
                                td
                                td.table__text--center 3100$
