extends ../layout/layout-sitemap

block variables
    - var description = 'Sitemap of the website of Tambov State Technical University'
    - var title = 'Sitemap of the TSTU website'
    - var pageClass = 'sitemap-page'

block content
    include ../../blocks/sitemap/sitemap
    
