extends ../layout/layout-inner
block variables
    - var description = 'Intenational partnership and cooperation of TSTU - Tambov State Technical University, Intenational educational programmes at Tambov State Technical University'
    - var title = 'TSTU International'
    - var pageClass = 'international-page'
    - var sectionKey = 'international'

//-block promo
    include ../../blocks/promo/promo
block content
    .breadcrumbs.bt-blue 
        a(href="index.html" class="breadcrumbs__link") Home
        a(href="#" class="breadcrumbs__link breadcrumbs__link--active") TSTU International
    section.about
        h2.section__title TSTU International
        .colums
            aside.colums__col30
                include ../../blocks/sidebar/sidebar
            main.colums__col70
                .content
                    .content__img-block
                        img.content__img-item--one(src='../assets/images/tstu-international.jpg')
                    p The international cooperation and internationalization are among the main priorities of Tambov State Technical University development strategy.
                    p The international activities of the University are divided into following directions:
                    ul
                        li International students training
                        li International project coordinating
                        li Foreign language training
                        li Two-language learning
                        li Academic mobility organizing
                    p Our specialists realize a whole range of applied research projects collaborating with their partners from Germany, Japan, Slovakia etc. 
                    p The university is an active participant of the international educational initiatives such as ERASMUS and TEMPUS. TSTU has successfully implemented 13 EC-funded projects in the frame of these programmes.
