.menu-bottom {
    text-align: center;
    width: 100vw;
    @media screen and (min-width: $desktop-sm) {
        display: none;
    }
    &__link {
        font-size: $font-size-md;
        display: block;
        border-bottom: 1px solid #fff;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-secondary;
        background-color: $color-primary;
    }
    &__link--accent {
        background-color: $color-accent;
    }
}