/* Vars:
  ========================================================================== */

// Font
$font-main: 'Roboto-Regular';
$font-black: 'Roboto-Black';
$font-italic: 'Roboto-Italic';
// Font Size
$font-size-main: 16px;
$font-weight-main: 400;
$line-height-main: 1.4;
$font-weight-light: 300;
$font-weight-bold: bold;
$font-size-s: 12px;
$font-size-sm: 14px;
$font-size-m: 18px;
$font-size-l: 24px;
$font-size-xl: 30px;
// Screen Size
$phone-sm: 320px;
$phone: 480px;
$tablet-sm: 540px;
$tablet: 768px;
$desktop-sm: 1024px;
$desktop: 1280px;
$desktop-lg: 1600px;
$desktop-xl: 1980px;
// Main color
$color-default: #101010;
$color-primary: #0071BC;
$color-secondary: #FFFFFF;
$color-accent: #F36F31;
$color-light: #5EB4E7;
$color-success: #26de81;
$color-danger: #fc5c65;
$color-warning: #fed330;
$color-purple: #8854d0;
// Neutral Color
$neutral-primary: #F6F9FC;
$neutral-secondary: #ccc;
$neutral-placeholder: #C0C4CC;
// Border Color
$border-base: #DCDFE6;
$border-light: #E4E7ED;
$border-lighter: #EBEEF5;
$border-lightex: #F2F6FC;