-
    const dataInstituteInfo = [
        {
           info: 'ArchCiT-page',
           img: 'https://www.tstu.ru/structure/inst/img/arxsit_dir.jpg',
           name: 'Pavel V. Monastyrev',
           subinfo: 'D.Tech.Sc., Professor',
           position1: 'Director of Institute of Architecture,',
           position2: 'Civil Engineering and Transport of TSTU',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-04-24, 63-04-09',
           fax: '+7 (4752) 63-38-75',
           mail: 'arhsit@mail.tstu.ru',
           address: '112E, Michurinskaya st.',
        },
        {
           info: 'TI-page',
           img: './../../../assets/images/institute-dir/ti_dir.jpg',
           name: 'Dmitry L. Polushkin',
           subinfo: 'Candidate of Tech.Sc., Assistant Professor',
           position1: 'Director of Technological Institute',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-03-88, 63-03-97',
           mail: 'mmf@tstu.ru',
           address: '112, Michurinskaya st.',
        },

    ]

-   let classInstituteInfo = 'instituteInfo'
+instituteInfo(dataInstituteInfo, classInstituteInfo)