-
    const dataInstituteInfo = [
        {
           info: 'ArchCiT-page',
           img: 'https://www.tstu.ru/structure/inst/img/arxsit_dir.jpg',
           name: 'Pavel V. Monastyrev',
           subinfo: 'D.Tech.Sc., Professor',
           position1: 'Director of Institute of Architecture,',
           position2: 'Civil Engineering and Transport of TSTU',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-04-24, 63-04-09',
           fax: '+7 (4752) 63-38-75',
           mail: 'arhsit@mail.tstu.ru',
           address: '112E, Michurinskaya st.',
        },
        {
           info: 'TI-page',
           img: './../../../assets/images/institute-dir/ti_dir.jpg',
           name: 'Dmitry L. Polushkin',
           subinfo: 'Candidate of Tech.Sc., Ass. Professor',
           position1: 'Director of Technological Institute',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-03-88, 63-03-97',
           mail: 'mmf@tstu.ru',
           address: '112, Michurinskaya st.',
        },
        {
           info: 'IAIT-page',
           img: './../../../assets/images/institute-dir/iait_dir.jpg',
           name: 'Yury Yu. Gromov',
           subinfo: 'Doctor of Tech.Sc., Professor',
           position1: 'Director of Institute of Automation and Information Technologies',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-39-26',
           mail: 'tstu_fit@mail.ru, iait_tstu@mail.ru',
           address: '112, Michurinskaya st.',
        },
        {
           info: 'IECONOM-page',
           img: './../../../assets/images/institute-dir/ieikg_dir.jpg',
           name: 'Roman R. Tolstyakov',
           subinfo: 'Doctor of Econ.Sc., Ass. Professor',
           position1: 'Director of Institute of Economics and Quality of Life',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-95-77',
           mail: 'ecodec@tstu.ru',
           address: '106, Sovetskaya st.',
        },
        {
           info: 'ILAW-page',
           img: './../../../assets/images/institute-dir/il_dir.jpg',
           name: 'Elena E. Orlova',
           subinfo: 'Candidate of Law, Ass. Professor',
           position1: 'Director of Institute of Law',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-03-84',
           mail: 'zvv@admin.tstu.ru',
           address: '112 D, Michurinskaya st.',
        },
        {
           info: 'IENERGO-page',
           img: './../../../assets/images/institute-dir/ienergo_dir.jpg',
           name: 'Tatyana I. Chernyshova',
           subinfo: 'Doctor of Tech.Sc., Professor',
           position1: 'Director of Institute of Power Engineering, Tool Engineering and Radio Electronics',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-04-29',
           mail: 'energo@nnn.tstu.ru',
           address: '112 A, Michurinskaya str.',
        },
        {
           info: 'IZO-page',
           img: './../../../assets/images/institute-dir/izo_dir.jpg',
           name: 'Natalia V. Maistrenko',
           subinfo: 'Ass. Professor',
           position1: 'Director of Institute of Study by Correspondence',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-25-71',
           mail: 'docc@mail.jesby.tstu.ru',
           address: '116, Sovetskaya str.',
        },
        {
           info: 'IDPO-page',
           img: './../../../assets/images/institute-dir/idpo_dir.jpg',
           name: 'Natalia V. Zlobina',
           subinfo: 'Doctor of Economic Sc.',
           position1: 'Director of Institute of Additional Professional Education',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-07-34',
           mail: 'idpo@admin.tstu.ru, ',
           address: '106, Sovetskaya str.'
        },
        {
           info: 'IINTEREDU-page',
           img: './../../../assets/images/institute-dir/mo_dekan.jpg',
           name: 'Maxim A. Promtov',
           subinfo: 'D.Tech.Sc., Professor',
           position1: 'Dean of International Education Faculty',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-20-24',
           mail: 'fmo@mail.tstu.ru, tstu04@yahoo.com',
           address: '1, Leningradskaya str., office 26'
        },
        {
           info: 'ISOCIAL-page',
           img: './../../../assets/images/institute-dir/nss_dekan.jpg',
           name: 'Konstantin V. Samokhin',
           subinfo: 'Cand. of Hist., Sc., Ass. Professor',
           position1: 'Dean of Faculty of Natural and Social Sciences',
           tel_icon: '',
           fax_icon: '',
           mail_icon: '',
           address_icon: '',
           tel: '+7 (4752) 63-04-53',
           mail: 'egf@tambov.ru',
           address: '112, Michurinskaya str.'
        },

    ]

-   let classInstituteInfo = 'instituteInfo'
+instituteInfo(dataInstituteInfo, classInstituteInfo)