.biography
    img.biography__img(src="../../assets/images/rector-tstu.jpg")
    .biography__description <b>Mikhail N. Krasnyansky</b> - Rector of Tambov State Technical University, Professor, Doctor of Technical Sciences, Correspondin Member of the Russian Academy of Natural Sciences, Honorary Worker of Higher Professional Education of the Russian Federation.
        .biography__contacts
            p.biography__contacts-item <b>Tel:</b> +7 (4752) 63-10-19
            p.biography__contacts-item <b>E-mail:</b> tstu@tstu.ru , tstu@admin.tstu.ru    
            p.biography__contacts-item <b>Web-site:</b> http://rector.tstu.ru/
    .clearfix
    h3 Biography
    .biography__list
        .biography__list-item
            p.biography__period 1992
            p.biography__text Graduated with distinctions the faculty of "Cosmonautics and Automatic Aircraft" of Moscow Aviation Institute named after S. Ordzhonikidze. He specialized in "Life support systems, rescue and protection of aircraft crews" (qualification of system engineer).
        .biography__list-item
            p.biography__period 1995
            p.biography__text Graduated from Tambov Institute of Chemical Engineering (Tambov State Technical University) with a PhD thesis, specialty “ Processes and apparatuses of chemical technologies”.
        .biography__list-item
            p.biography__period 1995-1998
            p.biography__text Assistant of the Department "Flexible Automated Production Systems" of Tambov State Technical University
        .biography__list-item
            p.biography__period 1998-2000
            p.biography__text Senior lecturer of the Department "Flexible Automated Production Systems
        .biography__list-item
            p.biography__period 2000-2012
            p.biography__text associate professor of the Department "Flexible Automated Production Systems" (renamed in 2003 to the Department "Computer-aided Design of Technological Equipment")
        .biography__list-item
            p.biography__period 2003-2006
            p.biography__text Deputy Director on educational work of the Tambov regional center of Internet Education Federation
        .biography__list-item
            p.biography__period 2006-2012
            p.biography__text Deputy Director of the International educational centre APTECH
        .biography__list-item
            p.biography__period 2010
            p.biography__text Doctoral thesis on " Methodology of forecasting and ensuring the reliability of the functioning of processes and devices of multiassortment chemical production" in the field 05.17.08 - Processes and apparatuses of chemical technology; 05.13.01 - System analysis, management and information processing (chemical industries)) was defended.
        .biography__list-item
            p.biography__period 2013
            p.biography__text The academic title of Professor is awarded by the Department "Automated design of technological equipment".
