-
    const dataMaster = [
        {
            code: '07.04.01',
            program: 'Architecture of Apartment and Public Buildings',
        },
        {
            code: '07.04.02',
            program: 'Design and Study of Architectural Monuments',
        },
        {
            code: '07.04.03',
            program: 'Design of Urban Environment and Interior',
        },
        {
            code: '07.04.04',
            program: 'Urban Planning',
        },
        {
            code: '08.04.01',
            program: 'Theory and Design of Buildings and Structures',
        },
        {
            code: '08.04.01',
            program: 'Theory and Design of Buildings and Structures',
        },
        {
            code: '08.04.01',
            program: 'Highways Design, Construction and Maintenance',
        },
        {
            code: '23.04.01',
            program: 'Traffic Safety',
        },
        {
            code: '23.04.03',
            program: 'Automobiles and Transportation Management',
        },
        {
            code: '35.04.06',
            program: 'Technologies and Means in Agriculture',
        },
        {
            code: '43.04.01',
            program: 'Technologies for Organizing Logistics and Transport Services',
        },
        {
            code: '54.03.01',
            program: 'Environmental Design',
        },

    ]

-   let classMaster = 'master'
+master(dataMaster, classMaster)