mixin brand()
    <!-- begin brand -->
        .brand
            a.brand__link(href="#")
                img.brand__logo(src="../assets/images/logo/TSTU_logo.jpg" alt="logo of Tambov State Technical University")
            h1.brand__name
                a.brand__link(href="#")
                    span.brand__title Tambov State  
                    span.brand__title Technical University
    <!-- end brand -->