mixin brand()
    <!-- begin brand -->
        .brand
            a.brand__link(href="index.html")
                img.brand__logo(src="../assets/images/logo/TSTU_logo.svg" alt="logo of Tambov State Technical University")
            if pageClass === 'index-page'
                .brand__name
                    h1
                        a.brand__link(href="index.html")
                            span.brand__title Tambov State 
                            span.brand__title Technical University
                    .brand__slogan Feature begins today
            else
                .brand__name
                    a.brand__link(href="index.html")
                        span.brand__title Tambov State 
                        span.brand__title Technical University
    <!-- end brand -->