-
    const dataBrand = [
        {
            url: 'index.html',
            logo_url: '../assets/images/logo/TSTU_logo.svg',
            logo_alt: 'logo of Tambov State Technical University',
            name_part1: 'Tambov State ',
            name_part2: 'Technical University',
            slogan: 'Future begins today!',
        }
    ]

-   let classBrand = 'brand'
+brand(dataBrand, classBrand)