-
    const dataSitemapNav = [
         {
            title: 'Admission',
            url: 'https://www.tstu.ru/en/r.php?r=education.inst&id=18',
            submenu: []
        },
        {
            title: 'Students',
            url: 'https://www.tstu.ru/en/r.php?r=education.activ',
            submenu: [
                { title: 'Student personal account', url: 'http://web-iais.admin.tstu.ru:7777/big/f?p=505:1:0:::::' },
                { title: 'Curricula For Foreign Students', url: 'https://www.tstu.ru/en/education/curricula/pdf/curricula.pdf' },
                { title: 'Electronic library system of TSTU', url: 'https://www.tstu.ru/en/r.php?r=education.elib' },
            ]
        },
        {
            title: 'Alumni',
            url: 'https://www.tstu.ru/en/r.php?r=alumni.video',
            submenu: []
        },
        {
            title: 'Partnership',
            url: 'https://www.tstu.ru/en/r.php?r=intern.part',
            submenu: []
        }

    ]
    
-   let classNav = 'sitemap-nav'
+sitemap(dataSitemapNav, classSitemapNav)