mixin sidebar(list, item)
    ul(class=list.class)
        each item,i in sidebar
            if isPage === i
                li.sidebar__item.sidebar__item--active
                    a(class=item.class, href=item.link)= item.text
            else
                li.sidebar__item
                    a(class=item.class, href=item.link)= item.text