-
    const dataNav = [
        {
            title: 'Admission',
            url: 'about.html',
            submenu: [
                { title: 'Mission & Vision', url: 'mission-and-vision.html' },
                { title: 'History', url: 'history.html' },
                { title: 'Rector', url: 'rector.html' },
                { title: 'Administration', url: 'administration.html' },
                { title: 'Campus', url: 'campus.html' },
                { title: 'Rankings', url: 'rankings.html' },
            ]
        },
        {
            title: 'Students',
            url: 'institutes-and-faculties.html',
            submenu: [
                { title: 'Technological Institute', url: '#' },
                { title: 'Institute of Architecture, Civil Engineering and Transport', url: '#' },
                { title: 'Institute of Automation and Information Technologies', url: '#' },
                { title: 'Institute of Economics and Quality of Life', url: '#' },
                { title: 'Institute of Law', url: '#' },
                { title: 'Institute of Power Engineering, Tool Engineering and Radio Electronics', url: '#' },
                { title: 'Institute of Study by Correspondence', url: '#' },
                { title: 'Institute of Additional Professional Education', url: '#' },
                { title: 'International Education Faculty', url: '#' },
                { title: 'Faculty of Natural and Social Sciences', url: '#' },
            ]
        },
        {
            title: 'Staff',
            url: 'tstu-international.html',
            submenu: [
                { title: 'International Education Faculty', url: '#' },
                { title: 'Joint Projects', url: 'joint-projects.html' },
                { title: 'I-Pet Programme', url: 'ipet-programme.html' },
                { title: 'Diploma Supplement', url: 'diploma-supplement.html' },
                { title: 'International Rankings', url: '#international-rankings' },
                { title: 'International Partnership', url: '#international-partnership' },
            ]
        },
        {
            title: 'Alumni',
            url: '#',
            submenu: [
                { title: 'Accommodation', url: '#' },
                { title: 'Virtual Tour', url: '#' },
                { title: 'Culture & Sport', url: '#' },
            ]
        },
        {
            title: 'Partnership',
            url: 'tstu-international.html',
            submenu: [
                { title: 'Accommodation', url: '#' },
                { title: 'Virtual Tour', url: '#' },
                { title: 'Culture & Sport', url: '#' },
            ]
        }

    ]
    
-   let classNav = 'nav'
+nav(dataNav, classNav)