mixin nav()
    <!-- begin nav -->
    nav.nav
        ul.nav__list
            li.nav__item
                a(href="about.html" class="nav__link nav__link--active") About TSTU
                ul.nav__dropdown-list
                    li(class="nav__dropdown-item")
                        a(href="mission-and-vision.html" class="nav__dropdown-link") Mission
                    li(class="nav__dropdown-item")
                        a(href="history.html" class="nav__dropdown-link") History
                    li(class="nav__dropdown-item")
                        a(href="rector.html" class="nav__dropdown-link") Rector
                    li(class="nav__dropdown-item")
                        a(href="administration.html" class="nav__dropdown-link") Administration
                    li(class="nav__dropdown-item")
                        a(href="campus.html" class="nav__dropdown-link") Campus
                    li(class="nav__dropdown-item")
                        a(href="rankings.html" class="nav__dropdown-link") Rankings
            li.nav__item
                a(href="#institutes" class="nav__link") Institutes & Faculties
                ul.nav__dropdown-list
                    li(class="nav__dropdown-item")
                        a(href="#institute0" class="nav__dropdown-link") institute0
                    li(class="nav__dropdown-item")
                        a(href="#institute1" class="nav__dropdown-link") institute1
                    li(class="nav__dropdown-item")
                        a(href="#institute2" class="nav__dropdown-link") institute2
                    li(class="nav__dropdown-item")
                        a(href="institute3" class="nav__dropdown-link") institute3
            li.nav__item
                a(href="#institutes" class="nav__link") TSTU International
                ul.nav__dropdown-list
                    li(class="nav__dropdown-item")
                        a(href="#institute0" class="nav__dropdown-link") Joint Projects
                    li(class="nav__dropdown-item")
                        a(href="#institute1" class="nav__dropdown-link") Diploma Supplement
                    li(class="nav__dropdown-item")
                        a(href="#institute2" class="nav__dropdown-link") International Rankings
            li.nav__item
                a(href="#institutes" class="nav__link") Campus Life
                ul.nav__dropdown-list
                    li(class="nav__dropdown-item")
                        a(href="#institute0" class="nav__dropdown-link") Accommodation
                    li(class="nav__dropdown-item")
                        a(href="#institute1" class="nav__dropdown-link") Virtual Tour
                    li(class="nav__dropdown-item")
                        a(href="#institute2" class="nav__dropdown-link") Culture & Sport
    <!-- end nav -->