mixin nav()
    <!-- begin nav -->
    nav.nav
        a.nav__link(href="about.html") About TSTU
        a.nav__link(href="institute.html") Institutes Faculties
        a.nav__link(href="") TSTU International
        a.nav__link(href="") Life
        a.nav__link(href="") More
    <!-- end nav -->