<!-- begin sidebar -->
aside.sidebar
    h2.sidebar__title
    .sidebar__submenu
        include ../_elements/_links/_links
        -
            let links = [
                {
                    class: 'sidebar__link sidebar__link',
                    link: 'mission_and_vision.html',
                    text: 'Mission & Vision'
                },
                {
                    class: 'aside__link',
                    link: 'history.html',
                    text: 'History'
                },
                {
                    class: 'aside__link',
                    link: 'index.html',
                    text: 'Home'
                },
                {
                    class: 'aside__link',
                    link: 'index.html',
                    text: 'Home'
                },
            ]
        +links
<!-- end sidebar -->