<!-- begin sidebar -->
aside.sidebar
    -
        let list = {
            class: 'sidebar__list',
        }
    -
        let sidebar = [
            {
                class: 'sidebar__link sidebar__link--active',
                link: 'mission-and-vision.html',
                text: 'Mission & Vision'
            },
            {
                class: 'sidebar__link',
                link: 'history.html',
                text: 'History'
            },
            {
                class: 'sidebar__link',
                link: 'rector.html',
                text: 'Rector'
            },
            {
                class: 'sidebar__link',
                link: 'administration.html',
                text: 'Administration'
            },
            {
                class: 'sidebar__link',
                link: 'campus.html',
                text: 'Campus'
            },
            {
                class: 'sidebar__link',
                link: 'rankings.html',
                text: 'Rankings'
            },
        ]
    +sidebar(list, item)
<!-- end sidebar -->