.person
    .person__item
        img.person__img(src="../../assets/images/vice-rectors/molotkova-tstu.jpg")
        .person__description
            .person__name
                a(href="#molotkova.html").person__link Natalia V. Molotkova
            .person__position First Vise-Rector
            .person__rank Professor, Doctor of Pedagogical Sciences
            .person__contacts
                p.person__contacts-item Phone: +7 (4752) 63-06-49, 63-01-76
                p.person__contacts-item E-mail: molotkova.nv@tstu.ru
    .person__item
        img.person__img(src="../../assets/images/vice-rectors/muromtsev-tstu.jpg")
        .person__description
            .person__name 
                a(href="#muromtsev.html").person__link Dmitry Yu. Muromtsev
            .person__position Vice-Rector for Scientific and Innovation Activities
            .person__rank Professor, Doctor of Technical Sciences
            .person__contacts
                p.person__contacts-item Phone: +7 (4752) 63-01-23
                p.person__contacts-item E-mail: postmaster@nauka.tstu.ru
    .person__item
        img.person__img(src="../../assets/images//vice-rectors/sosedov-tstu.jpg")
        .person__description
            .person__name
                a(href="#sosedov.html").person__link Gennadiy A.Sosedov
            .person__position Vice-Rector for Social Activities and Youth Policy
            .person__rank Ass. Professor, Candidate of Pedagogical Sciences
            .person__contacts
                p.person__contacts-item Phone: +7 (4752) 63-20-00
                p.person__contacts-item E-mail: sosedov.ga@tstu.ru
    .person__item
        img.person__img(src="../../assets/images/vice-rectors/mishchenko-tstu.jpg")
        .person__description
            .person__name 
                a(href="#mishchenko.html").person__link Elena S. Mishchenko
            .person__position Vice-Rector for International Activities
            .person__rank Professor, Doctor of Economic Sciences
            .person__contacts
                p.person__contacts-item Phone: +7 (4752) 63-20-02
                p.person__contacts-item E-mail: int@tstu.ru
    .person__item
        img.person__img(src="../../assets/images//vice-rectors/maistrenko-tstu.jpg")
        .person__description
            .person__name 
                a(href="#maistrenko.html").person__link Alexander V. Maistrenko
            .person__position Vice-Rector for Property Complex Development
            .person__rank Ass. Professor, Candidate of Technical Sciences
            .person__contacts
                p.person__contacts-item Phone: +7 (4752) 63-20-01
                p.person__contacts-item E-mail: pr_ii@tstu.ru