-
    const dataDepartment = [
        {
            department: 'Agricultural Engineering',
        },
        {
            department: 'Architecture and Building Construction',
        },
        {
            department: 'Urban Planning and Roads',
        },
        {
            department: 'Design',
        },
        {
            department: 'Structure of Buildings and Constructions',
        },
        {
            department: 'Equipment and Technology of Road Transport',
        },

    ]

-   let classDepartment = 'department'
+department(dataDepartment, classDepartment)