-
    const dataDepartment = [
        {
            page: 'FMO-page',
            departments: [
                {department: 'General Theoretical Disciplines'},
                {department: 'Russian Philology'},
            ]
        },
        {
            page: 'ArchCiT-page',
            departments: [
                {department: 'Agricultural Engineering'},
                {department: 'Architecture and Building Construction'},
                {department: 'Urban Planning and Roads'},
                {department: 'Design'},
                {department: 'Structure of Buildings and Constructions'},
                {department: 'Equipment and Technology of Road Transport'},
            ]
        },
        {
            page: 'TI-page',
            departments: [
                {department: 'Nanotechnology Engineering'},
                {department: 'Computer Integrated Systems in Mechanical Engineering'},
                {department: 'Materials and Technologies'},
                {department: 'Mechanics and Engineering Graphics'},
                {department: 'Nature Management and Environment Protection'},
                {department: 'Technology and Methods of Nanoproducts Manufacturing'},
                {department: 'Technology and Equipment for Food and Chemical Production'},
                {department: 'Technological Processes, Devices and Technosphere Safety'},
                {department: 'Chemistry and Chemical Technologies'},
            ]
        },
        {
            page: 'IAIT-page',
            departments: [
                {department: 'Information Processes and Management'},
                {department: 'Information Systems and Information Security'},
                {department: 'Mechatronics and Technological Measurements'},
                {department: 'Automated Systems for Decision-Making Support'},
            ]
        },
        {
            page: 'IECONOM-page',
            departments: [
                {department: 'Commerce and Business Informatics'},
                {department: 'Management'},
                {department: 'Economics'},
                {department: 'Economic Security and Quality'},
            ]
        },
        {
            page: 'ILAW-page',
            departments: [
                {department: 'Security and Legal Order'},
                {department: 'Civil Law and Legal Procedure'},
                {department: 'Constitutional and Administrative Law'},
                {department: 'International Law'},
                {department: 'Theory and History of State and Law'},
                {department: 'Criminal Law and Applied Computer Sciences in Law'},
            ]
        },
        {
            page: 'IENERGO-page',
            departments: [
                {department: 'Biomedical Engineering'},
                {department: 'Design of Radioelectronic and Microprocessor Systems'},
                {department: 'Radio Engineering'},
                {department: 'Power Engineering'},
                {department: 'Enterprise Energy Supply and Heat Engineering'},
            ]
        },
        {
            page: 'IDPO-page',
            departments: [
                {department: 'Center for Advanced Training and Retraining'},
                {department: 'TSTU Center for Engineering Education'},
                {department: 'Foreign Language Training Center'},
                {department: 'Qualification Improvement Center for Public Utilities and Energy Specialists'},
                {department: 'Qualification Improvement Center for Accounting Specialists'},
                {department: 'Management Training Centre'},
            ]
        },
        {
            page: 'IINTEREDU-page',
            departments: [
                {department: 'General Theoretical Disciplines'},
                {department: 'Russian Philology'},
            ]
        },
        {
            page: 'ISOCIAL-page',
            departments: [
                {department: 'Higher Mathematics'},
                {department: 'Physics'},
                {department: 'Foreign Languages and Professional Communications'},
                {department: 'History and Philosophy'},
                {department: 'Physical Education and Sport'},
            ]
        },


    ]

-   let classDepartment = 'department'
+department(dataDepartment, classDepartment)