-
    const dataDepartment = [
        {
            page: 'ArchCiT-page',
            departments: [
                {department: 'Agricultural Engineering'},
                {department: 'Architecture and Building Construction'},
                {department: 'Urban Planning and Roads'},
                {department: 'Design'},
                {department: 'Structure of Buildings and Constructions'},
                {department: 'Equipment and Technology of Road Transport'},
            ]
        },
        {
            page: 'TI-page',
            departments: [
                {department: 'Nanotechnology Engineering'},
                {department: 'Computer Integrated Systems in Mechanical Engineering'},
                {department: 'Materials and Technologies'},
                {department: 'Mechanics and Engineering Graphics'},
                {department: 'Nature Management and Environment Protection'},
                {department: 'Technology and Methods of Nanoproducts Manufacturing'},
                {department: 'Technology and Equipment for Food and Chemical Production'},
                {department: 'Technological Processes, Devices and Technosphere Safety'},
                {department: 'Chemistry and Chemical Technologies'},
            ]
        },


    ]

-   let classDepartment = 'department'
+department(dataDepartment, classDepartment)