.institute
    .institute__item
        a(href="../technological-institute.html")
            img.institute__logo(src="../../assets/images/logo/institutes/tstu-technological-institute-logo.jpg")
            .institute__description
                .institute__name Technological Institute
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-architecture-civil-engineering-and-transport-logo.jpg")
        .institute__description
            .institute__name
                a(href="../institute-of-architecture-civil-engineering-and-transport.html").institute__link  Institute of Architecture, Civil Engineering and Transport
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-automation-and-information-technologies-logo.jpg")
        .institute__description
            .institute__name
                a(href="../institute-of-automation-and-information-technologies.html").institute__link Institute of Automation and Information Technologies
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-economics-and-quality-of-life-logo.jpg")
        .institute__description
            .institute__name
                a(href="../institute-of-economics-and-quality-of-life.html").institute__link Institute of Economics and Quality of Life
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-law-logo.jpg")
        .institute__description
            .institute__name
                a(href="/institute-of-law.html").institute__link Institute of Law
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-power-engineering-and-radio-electronics-logo.jpg")
        .institute__description
            .institute__name
                a(href="/institute-of-power-engineering-tool-engineering-and-radio-electronics.html").institute__link Institute of Power Engineering, Tool Engineering and Radio Electronics
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-study-by-correspondence-logo.jpg")
        .institute__description
            .institute__name
                a(href="https://www.tstu.ru/en/r.php?r=education.inst&id=14").institute__link Institute of Study by Correspondence
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-institute-of-additional-professional-education-logo.jpg")
        .institute__description
            .institute__name
                a(href="https://www.tstu.ru/en/r.php?r=education.inst&id=15").institute__link Institute of Additional Professional Education
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-international-education-faculty-logo.jpg")
        .institute__description
            .institute__name
                a(href="/international-education-faculty.html").institute__link International Education Faculty
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/tstu-faculty-of-natural-and-social-sciences-logo.jpg")
        .institute__description
            .institute__name
                a(href="https://www.tstu.ru/en/r.php?r=education.inst&id=104").institute__link Faculty of Natural and Social Sciences