.institute
    .institute__item
        a(href="#technological-institute.html")
            img.institute__logo(src="../../assets/images/logo/institutes/Technological-Institute-TSTU.jpg")
            .institute__description
                .institute__name Technological Institute
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/institute-of-architecture-civil-engineering-and-transport-TSTU.jpg")
        .institute__description
            .institute__name
                a(href="#institute-of-architecture-civil-engineering-and-transport.html").institute__link  Institute of Architecture, Civil Engineering and Transport
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/institute-of-automation-and-information-technologies-TSTU.jpg")
        .institute__description
            .institute__name
                a(href="#institute-of-automation-and-information-technologies.html").institute__link Institute of Automation and Information Technologies
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/institute-of-economics-and-quality-of-life-TSTU.jpg")
        .institute__description
            .institute__name
                a(href="#institute-of-economics-and-quality-of-life.html").institute__link Institute of Economics and Quality of Life
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/institute-of-law-TSTU.jpg")
        .institute__description
            .institute__name
                a(href="#institute-of-law.html").institute__link Institute of Law
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/institute-of-engineering-and-radio-electronics.jpg")
        .institute__description
            .institute__name
                a(href="#institute-of-power-engineering-tool-engineering-and-radio-electronics.html").institute__link Institute of Power Engineering, Tool Engineering and Radio Electronics
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/institute-of-study-by-correspondence-TSTU.jpg")
        .institute__description
            .institute__name
                a(href="#institute-of-study-by-correspondence.html").institute__link Institute of Study by Correspondence
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/institute-of-additional-professional-education-TSTU.jpg")
        .institute__description
            .institute__name
                a(href="#institute-of-additional-professional-education.html").institute__link Institute of Additional Professional Education
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/international-education-faculty-TSTU.jpg")
        .institute__description
            .institute__name
                a(href="#international-education-faculty.html").institute__link International Education Faculty
    .institute__item
        img.institute__logo(src="../../assets/images/logo/institutes/faculty-of-natural-and-social-sciences-TSTU.jpg")
        .institute__description
            .institute__name
                a(href="#faculty-of-natural-and-social-sciences.html").institute__link Faculty of Natural and Social Sciences