.menuGlo__list {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.menuGlo__item {
    padding: 15px 0;
    font-size: 24px;
    color: #fff;
}

.menuGlo__item.is-active {
    background-color: red;
}

.menuGlo__link {
    font-size: 24px;
    color: #fff;
}