.programs
    div(class='programs__mode')
        p(class='programs__mode-item')= 'Full-time'
        p(class='programs__mode-item')= 'Part-time'
        p(class='programs__mode-item')= 'Study by correspondence'
    include ../_elements/_program/_data_program.pug